.nav-tabs {
  margin: 0;
  padding: 0;
  border: 0;    
}
.nav-tabs > li > a {
  background: #002c53;
  border-radius: 0;
  color: #bfbfbf;
  box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  background: #fff;
  color: #002c53;
  font-size: 20px;
  box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

 
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  .whitelist {
    padding-left: 0;
  }

  .whitelist li{
    display: block; 
    padding: 10px; 
    width: 100%; 
    text-align: left;
  }

  .whitelist li:nth-child(odd) {
    background: #fbfbfb;
  }

  .whitelist li:hover {
    background: #f5f5f5;
  }

  .whitelist li label {
    float:right;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 3px;
    color: 2222;
  }

  .tabs-lista {
    padding: 0;
    margin: 0 20px;
    list-style-type: none;
    width: 660px;
  }

  .tabs-lista li {
    float: left;
    margin-bottom: 20px;
  }

  .tabs-lista a {
    background-repeat: no-repeat;
    background-position: 50% 25%;
    border: 1px dotted #002c53;
    color: #002c53;
    text-decoration: none;
    display: inline-flex;
    width: 200px;
    height: 130px;
    margin-right:20px;
  }

  .tabs-lista a span {
    margin: 80px auto 40px auto;
  }

  .tabs-lista a:hover, .tabs-lista .active a {
    background-color: #002c53;
    color: #fff;
  }

  .tabs-lista .tab-icon-agenda {
    background-image: url(../../assets/Imagens/icon-agenda.png);
  }

  .tabs-lista .tab-icon-agenda:hover, .tabs-lista .active .tab-icon-agenda {
    background-image: url(../../assets/Imagens/icon-agenda-white.png);
  }

  .tabs-lista .tab-icon-id {
    background-image: url(../../assets/Imagens/icon-id.png);
  }

  .tabs-lista .tab-icon-id:hover, .tabs-lista .active .tab-icon-id {
    background-image: url(../../assets/Imagens/icon-id-white.png);
  }