<app-header></app-header>
<div class="container-fluid" style="min-height: 78vh; padding-left: 65px;">
  <div class="row">
    <app-menu></app-menu>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2>Listas</h2>
    </div>
    
<div>
<div class="row" style="text-align: center;">
  <div class="col-lg-6">
    <ul class="tabs-lista">
      <li>
    <a href="#tabWhitelist" (click)="fillWhiteList()" data-toggle="tab" class="tab-icon-agenda">
      <span>Não Notificar</span>
    </a>
  </li>
  <li>
    <a href="#tabImeiManual" (click)="fillImeiManual()" data-toggle="tab" class="tab-icon-id">
      <span>IMEI Manual</span>
    </a>
  </li>
  <li>
    <a href="#tabBloqueados" (click)="fillBloqueados()" data-toggle="tab" class="tab-icon-agenda">
        <span>Bloqueados</span>
      </a>
    </li>
    <!-- </ul> -->
    <!-- <a href="#tabWhitelist" data-toggle="tab"> <img style="cursor: pointer; margin-right: 15px;"  src="../../assets/Imagens/naoNotificar.png"> </a>
    <a href="#tabImeiManual" data-toggle="tab"> <img style="cursor: pointer; margin-right: 15px;" src="../../assets/Imagens/imeiManual.png"> </a>
    <a href="#tabBloqueados" data-toggle="tab"> <img style="cursor: pointer; margin-right: 15px;" src="../../assets/Imagens/bloqueados.png"> </a> -->
  <!-- </div>
</div>
<div class="row" style="text-align: center; margin-top: 15px;">
  <div class="col-lg-6">
      <ul class="tabs-lista"> -->
          <li>
      <a href="#tabBlink" (click)="fillBlinkados()" data-toggle="tab" class="tab-icon-id">
          <span>blinq</span>
        </a>
          </li>
          <li>
        <a href="#tabAtivos" (click)="fillAtivos()" data-toggle="tab" class="tab-icon-agenda">
            <span>Licenças Ativas</span>
          </a>
        </li>
        <li>
        <a href="#tabQuitados" (click)="fillQuitados()" data-toggle="tab" class="tab-icon-id">
            <span>Dispostivos Quitados</span>
          </a>
        </li>
          </ul>
    <!-- <a href="#tabBlink" data-toggle="tab"> <img style="cursor: pointer; margin-right: 15px;" src="../../assets/Imagens/blinq.png"> </a>
    <a href="#tabAtivos" data-toggle="tab"> <img style="cursor: pointer; margin-right: 15px;" src="../../assets/Imagens/licencasAtivas.png"> </a>
    <a href="#tabQuitados" data-toggle="tab"> <img style="cursor: pointer; margin-right: 15px;" src="../../assets/Imagens/dispositivosQuitados.png"> </a> -->
  </div>
</div>
<!-- <div class="row">
<div class="col-lg-6">
  <div class="col-lg-5">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" style="width: 100%"> Remover </button>
</div> 
<div class="col-lg-5">
  <button class="btn btn-default btn-sm dropdown-toggle" type="button" style="background-color:#002C52; color:#fff; width: 100%;"> Incluir </button>
</div>
</div>
</div> -->
</div>





    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-left:1px; margin-top: 30px">
      <div class="panel with-nav-tabs panel-default" style="padding-right: 0px; padding-left: 0px">
        <div class="panel-heading">
          <ul class="nav nav-tabs nav-justified">
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">





            <div class="tab-pane fade" id="tabWhitelist">
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <h3>Digite o IMEI para adicionar na Whitelist</h3>
                </div>
                <div class="col-sm-12 row">
                  <div class="col-sm-12 col-lg-3 form-group">
                    <input id="lfname" class="form-control" placeholder="IMEI" [(ngModel)]="whiteList.serialNumber"
                      name="fname" type="text" maxlength="15" />
                  </div>
                </div>
              <div class="col-sm-12 col-lg-12">
                <div mat-dialog-title>
                  <h5>Escolha o Varejista atrelado a este IMEI: </h5>
                </div>
                <div mat-dialog-content> 
                  <div class="row">
                    <div class="col-md-4">
                      <label>Empresa<label style="color: red;">*</label> : </label>
                      <select class="select" class="form-control" [(ngModel)]="varejistaEscolhido">
                      <option *ngFor="let item of varejistaOption"  value={{item.ID}}>{{item.Nome}}</option>        
                      </select>
                    </div>
                  </div>                
                </div>
                <br> <br>
              </div>
                <br> 

                <div class="col-sm-12 row">
                  <div class="col-sm-12 col-lg-3 form-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button"
                      style="background-color:#002C52; color:#fff; width: 100%;" (click)="insertWhiteList() "> Adicionar
                      na Whitelist </button>
                  </div>
                </div>

                <!-- <button class="col-lg-12 btn btn-default btn-sm dropdown-toggle" type="button"
                      style="background-color:#002C52; color:#fff; margin-top: 5px;"> Enviar CSV </button>
                    <button class="col-lg-12 btn btn-default btn-sm dropdown-toggle" type="button"
                      style="background-color:#339933; color:#fff; margin-top: 5px;"> Baixar Modelo CSV </button> -->
                <div class="col-lg-12">
                  <div class="panel panel-default">
                      <div class="panel-body">
                      <h3>Whistelist</h3>
                      <td>
                        <input 
                        type="text" 
                        placeholder="Buscar IMEI cadastrado"
                        class="form-control"
                        (keyup)="filterByInputWhiteList()"
                        [(ngModel)]="searchWiteList"
                        maxlength="15">
                      </td>
                      <ul class="whitelist">
                        <li *ngFor="let white of listWhiteList">
                          {{white.serialNumber}}<label (click)="removeWhiteList(white)"><img src="../../assets/Imagens/lixeira.png"></label>
                        </li>
                      </ul>
                      <!-- <label *ngFor="let white of listWhiteList" style="margin: 3px; border: 2px solid gray;width: 13%; display: block; padding: 10px; width: 100%; text-align: left;">
                        {{white.serialNumber}}<label style="float:right; cursor: pointer;" (click)="removeWhiteList(white)">X</label>
                    </label> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
           





            <!-- <div class="tab-pane fade" id="tabImeiManual">
                <div class="panel panel-default col-lg-12" style="padding-right: 0px; padding-left: 0px">
                  <div class="table-responsive">
                    <table class="table table-striped scrolling-wrapper">
                      <thead>
                        <tr>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                 <div class="col-sm-2" style="float: right;" *ngIf="listImeiManual.length > 0">
                  <label>ver até:</label>
                  <select class="form-control" [(ngModel)]="currentItemsPerPageListaImeiManual">
                    <option *ngFor="let pagesmen of dropdownPagesListaImeiManual" [value]="pagesmen.itemsPerPage">
                      {{pagesmen.itemsPerPage}}</option>
                  </select>
                </div>
                <div class="col-sm-12" *ngIf="listImeiManual.length > 0" style="text-align: center;">
                  <nav aria-label="Page navigation">
                    <div style="margin: 0 auto;">
                      <pagination-controls (pageChange)="currentPageListaImeiManual = $event" previousLabel="Anterior"
                        nextLabel="Proximo"></pagination-controls>
                    </div>
                  </nav>
                </div> 
              </div> -->

              <div class="tab-pane fade" id="tabImeiManual">
                <div class="panel panel-default col-lg-12" style="padding-right: 0px; padding-left: 0px">
                  <div class="table-responsive">
                    <table class="table table-striped scrolling-wrapper">
                      <thead>
                        <tr>
                          <th>Data/Hora</th>
                          <th>Usuário</th>
                          <th>CPF</th>
                          <th>IMEI</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="listImeiManual.length > 0">
                        <tr
                          *ngFor="let ImeiManual of listImeiManual | paginate: { id: 'ImeiManual' , itemsPerPage: currentItemsPerPageListaImeiManual, currentPage: currentPageListaImeiManual }">
                          <td>{{ ImeiManual.dthora }}</td>
                          <td>{{ ImeiManual.nome }}</td>
                          <td>{{ ImeiManual.cpf }}</td>
                          <td>{{ ImeiManual.imei }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-sm-2" style="float: right;" *ngIf="listImeiManual.length > 0">
                  <label>ver até:</label>
                  <select class="form-control" [(ngModel)]="currentItemsPerPageListaImeiManual">
                    <option *ngFor="let pagesmen of dropdownPagesListaImeiManual" [value]="pagesmen.itemsPerPage">
                      {{pagesmen.itemsPerPage}}</option>
                  </select>
                </div>
                <div class="col-sm-12" *ngIf="listImeiManual.length > 0" style="text-align: center;">
                  <nav aria-label="Page navigation">
                    <div style="margin: 0 auto;">
                      <pagination-controls id="ImeiManual" (pageChange)="currentPageListaImeiManual = $event" previousLabel="Anterior"
                        nextLabel="Proximo"></pagination-controls>
                    </div>
                  </nav>
                </div>
              </div>









            <div class="tab-pane fade" id="tabBloqueados">
              <div class="panel panel-default col-lg-12" style="padding-right: 0px; padding-left: 0px">
                <div class="table-responsive">
                  <table class="table table-striped scrolling-wrapper">
                    <thead>
                      <tr>
                        <th>Data/Hora</th>
                        <th>Usuário</th>
                        <th>CPF</th>
                        <th>IMEI</th>
                        <th>Desbloquear</th>
                        <th>Pin</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="listBloqueados.length > 0">
                      <tr
                        *ngFor="let bloqueados of listBloqueados | paginate: { id: 'bloqueados', itemsPerPage: currentItemsPerPageListaBloqueados, currentPage: currentPageListaBloqueados }">
                        <td>{{ bloqueados.dthora }}</td>
                        <td>{{ bloqueados.nome }}</td>
                        <td>{{ bloqueados.cpf }}</td>
                        <td>{{ bloqueados.imei }}</td>
                        <td><img style="cursor: pointer;" (click)="desbloqueioListaBloqueados(bloqueados)" src="../../assets/Imagens/desvincular.png"></td>
                        <td><img style="cursor: pointer;" (click)="editBloqueados(bloqueados)" src="../../assets/Imagens/pin.png"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>




              <div class="col-sm-2" style="float: right;" *ngIf="listBloqueados.length > 0">
                <label>ver até:</label>
                <select class="form-control" [(ngModel)]="currentItemsPerPageListaBloqueados">
                  <option *ngFor="let pagesmen of dropdownPagesListaBloqueados" [value]="pagesmen.itemsPerPage">
                    {{pagesmen.itemsPerPage}}</option>
                </select>
              </div>
              <div class="col-sm-12" *ngIf="listBloqueados.length > 0" style="text-align: center;">
                <nav aria-label="Page navigation">
                  <div style="margin: 0 auto;">
                    <pagination-controls id="bloqueados" (pageChange)="currentPageListaBloqueados = $event" previousLabel="Anterior"
                      nextLabel="Proximo"></pagination-controls>
                  </div>
                </nav>
              </div>
            </div>


                
















            <div class="tab-pane fade" id="tabBlink">
              <div class="panel panel-default col-lg-12" style="padding-right: 0px; padding-left: 0px">
                <div class="table-responsive">
                  <table class="table table-striped scrolling-wrapper">
                    <thead >
                      <tr>
                        <th>Data/Hora
                          <span *ngIf="!flagOrderByDtHrBlinq" (click)="orderByDtHrBlinq()"
                          style="cursor: pointer;" class="caret"></span>
                        <span *ngIf="flagOrderByDtHrBlinq" (click)="orderByDtHrBlinq()"
                          style="transform: rotate(180deg);cursor: pointer;" class="caret"></span>
                        </th>
                        <th>
                          <input type="text" (keyup)="filterAllBlinq()" [(ngModel)] ="userActivate" placeholder="Usuário"> 
                        </th> 
                        <th>
                          <input type="text" (keyup)="filterAllBlinq()" [(ngModel)] ="cpfActivate" placeholder="CPF"> 
                        </th>
                        <th>
                          <select class="select" [(ngModel)]="imeiPerfil" (change)="filterAllBlinq()">
                            <option value="imeis" class="selected">Exibir todos os Imeis</option>
                            <option *ngFor= "let blinkados of listBlinkadosAux" [value]="blinkados.imei">
                              {{ blinkados.imei }}</option>
                          </select>
                        </th>
                        <th>Desbloquear</th>
                        <th>Pin</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="listBlinkados.length > 0">
                      <tr
                        *ngFor="let blinkados of listBlinkados | paginate: { id: 'blinkados', itemsPerPage: currentItemsPerPageListaBlinkados, currentPage: currentPageListaBlinkados }">
                        <td>{{ blinkados.dthora }}</td>
                        <td>{{ blinkados.nome }}</td>
                        <td>{{ blinkados.cpf }}</td>
                        <td>{{ blinkados.imei }}</td>
                        <td><img style="cursor: pointer;" (click)="desbloqueioListaBlinkados(blinkados)" src="../../assets/Imagens/desvincular.png"></td>
                        <td><img style="cursor: pointer;" (click)="editBlinkados(blinkados)" src="../../assets/Imagens/pin.png"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-sm-2" style="float: right;" *ngIf="listBlinkados.length > 0">
                <label>ver até:</label>
                <select class="form-control" [(ngModel)]="currentItemsPerPageListaBlinkados">
                  <option *ngFor="let pagesmen of dropdownPagesListaBlinkados" [value]="pagesmen.itemsPerPage">
                    {{pagesmen.itemsPerPage}}</option>
                </select>
              </div>
              <div class="col-sm-12" *ngIf="listBlinkados.length > 0" style="text-align: center;">
                <nav aria-label="Page navigation">
                  <div style="margin: 0 auto;">
                    <pagination-controls id="blinkados" (pageChange)="currentPageListaBlinkados = $event" previousLabel="Anterior"
                      nextLabel="Proximo"></pagination-controls>
                  </div>
                </nav>
              </div>
            </div>










            <div class="tab-pane fade" id="tabAtivos">
              <div class="panel panel-default col-lg-12" style="padding-right: 0px; padding-left: 0px">
                <div class="table-responsive">
                  <table class="table table-striped scrolling-wrapper">
                    <thead>
                      <tr>
                        <th>Data/Hora
                            <span *ngIf="!flagOrderByAtivos" (click)="orderByDtHr()"
                            style="cursor: pointer;" class="caret"></span>
                          <span *ngIf="flagOrderByAtivos" (click)="orderByDtHr()"
                            style="transform: rotate(180deg);cursor: pointer;" class="caret"></span>
                        </th>
                        <th>
                          <input type="text" (keyup)="filterByInputUser()" [(ngModel)] ="user" placeholder="Usuário"> 
                        </th>
                        <th>
                            <input type="text" (keyup)="filterByInputCpf()" [(ngModel)] ="cpf" placeholder="CPF"> 
                        </th>
                        <th>
                            <input type="text" (keyup)="filterByInputImei()" [(ngModel)] ="imei" placeholder="IMEI"> 
                        </th>
                      </tr>
                    </thead>
                    <tbody *ngIf="listAtivos.length > 0">
                      <tr
                        *ngFor="let ativos of listAtivos | paginate: { id: 'ativos' , itemsPerPage: currentItemsPerPageListaAtivos, currentPage: currentPageListaAtivos }">
                        <td>{{ ativos.dthora }}</td>
                        <td>{{ ativos.nome }}</td>
                        <td>{{ ativos.cpf }}</td>
                        <td>{{ ativos.imei }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-sm-2" style="float: right;" *ngIf="listAtivos.length > 0">
                <label>ver até:</label>
                <select class="form-control" [(ngModel)]="currentItemsPerPageListaAtivos">
                  <option *ngFor="let pagesmen of dropdownPagesListaAtivos" [value]="pagesmen.itemsPerPage">
                    {{pagesmen.itemsPerPage}}</option>
                </select>
              </div>
              <div class="col-sm-12" *ngIf="listAtivos.length > 0" style="text-align: center;">
                <nav aria-label="Page navigation">
                  <div style="margin: 0 auto;">
                    <pagination-controls id="ativos" (pageChange)="currentPageListaAtivos = $event" previousLabel="Anterior"
                      nextLabel="Proximo"></pagination-controls>
                  </div>
                </nav>
              </div>
            </div>
            









            <div class="tab-pane fade" id="tabQuitados">
              <div class="panel panel-default col-lg-12" style="padding-right: 0px; padding-left: 0px">
                <div class="table-responsive">
                  <table class="table table-striped scrolling-wrapper">
                    <thead>
                      <tr>
                        <th>Data/Hora</th>
                        <th>Usuário</th>
                        <th>CPF</th>
                        <th>IMEI</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="listQuitados.length > 0">
                      <tr
                        *ngFor="let quitados of listQuitados | paginate: { itemsPerPage: currentItemsPerPageListaQuitados, currentPage: currentPageListaQuitados }">
                        <td>{{ quitados.dthora }}</td>
                        <td>{{ quitados.nome }}</td>
                        <td>{{ quitados.cpf }}</td>
                        <td>{{ quitados.imei }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-sm-2" style="float: right;" *ngIf="listQuitados.length > 0">
                <label>ver até:</label>
                <select class="form-control" [(ngModel)]="currentItemsPerPageListaQuitados">
                  <option *ngFor="let pagesmen of dropdownPagesListaQuitados" [value]="pagesmen.itemsPerPage">
                    {{pagesmen.itemsPerPage}}</option>
                </select>
              </div>
              <div class="col-sm-12" *ngIf="listQuitados.length > 0" style="text-align: center;">
                <nav aria-label="Page navigation">
                  <div style="margin: 0 auto;">
                    <pagination-controls (pageChange)="currentPageListaQuitados = $event" previousLabel="Anterior"
                      nextLabel="Proximo"></pagination-controls>
                  </div>
                </nav>
              </div>
            </div>





          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>