<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="../../assets/Imagens/logo-soudi.png" class="logo">
      </a>
    </div>
    <div *ngIf="clientId" class="dropdown pull-right"
      style="margin-top:16px"> <img src="../../assets/Imagens/user-icon.png">
      <span class="caret"></span>
      <!-- <select>
          <option value="todos"> <a>Perfil</a></option>
          <option value="todos"><a (click)="logout()">Sair</a></option>
      </select> -->

      <div class="dropdown-content">
        <!-- <a>Perfil</a> -->
        <a style="cursor: pointer;" (click)="logout()">Sair</a>
      </div>
    </div>
  </nav>
  <hr/>
</div>