.navbar {
  position: relative;
  border-radius: 0px;
  margin: 0 auto;
  
}

.navbar-default{
  background-color: #ffffff;
  /* border-bottom: 1px solid #EBEBEB !important; */
  border-color: #fff;
}


.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;  /* 50% of your logo width */
  display: block;
  padding: 5px 5px;
}

.logo {
    display: block;
    height: 40px;
}

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  hr {
    height:2px; 
    border:none;
    background-color: #EBEBEB;
    margin-top: 0px;
    margin-bottom: 0px;
  }