<div class="container-fluid">
  <div class="row footer">
    <div class="col-sm-12">
      <p>
        Av. das Nações Unidas, 12.995 - 22º andar - Brooklin - CEP: 04578-911 - São Paulo/SP<br>
        Telefone: 11 5503-9999 | Fax: 11 5503-9998<br>
        SOUDI - Copyright © 2019 - Todos os direitos reservados
      </p>
    </div>
  </div>
</div>