<app-header></app-header>
<div class="container-fluid" style="min-height: 78vh; padding-left: 65px;">
  <div class="row">
    <app-menu></app-menu>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-sm-12">
          <h2 style="margin-top: 0px;">Configurações</h2>

          <div class="col-sm-12" style="margin-left:1px">
            <div class="panel with-nav-tabs panel-default" style="padding-right: 0px; padding-left: 0px">
              <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                  <li class="active"><a href="#tabGestao" data-toggle="tab">Gestão de Licenças</a></li>
                  <li><a href="#tabAssoc" data-toggle="tab">Associar/Desassociar</a></li>
                  <li><a href="#tabCadastroVarejista" (click)="fillLinxResellers()" data-toggle="tab">Cadastro Varejista</a></li>
                  <li><a href="#tabCadastrarEmail" (click)="fillCadastroEmail()" data-toggle="tab">Cadastrar Emails para Notificações</a></li>
                  <li><a href="#tabParmRelacionamento" (click)="fillRelacionamento()" data-toggle="tab">Editar Parâmetros de Relacionamento</a></li>
                </ul>
              </div>
              <div class="panel-body">
                <div class="tab-content">










                  <div class="tab-pane fade in active" id="tabGestao">
                
                    <div class="card col-xs-12 col-md-5 col-lg-3" style="padding: 20px; background-color: #cecece;">
                      <h3>Solicitação de Licenças</h3>
                      <label>Definir quantidade de licenças desejada: </label>
                      <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="lfname1" placeholder="0" name="fname"
                        type="text" (keyup)="onlyNumberDiseredLicenses()" [(ngModel)]="desiredLicenses" />
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                      <button (click)="demandNewLicenses()"
                        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-default btn-sm dropdown-toggle"
                        type="button" style="background-color:#002C52; color:#fff; border: none;">
                        Emitir pedido de licença
                      </button>
                    </div>
       

                    <div class="card col-xs-12 col-md-5 col-lg-3" style="padding: 20px; background-color: #cecece;">
                      <h3>Gestão de Estoque</h3>
                      <label> Definir Estoque de Segurança: </label>
                      <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="lfname2" name="fname" type="text"
                        (keyup)="onlyNumberSeguranca()" [(ngModel)]="estoqueLicensa.qtdSeguranca" />
                      <label> Definir Incremento de Compra: </label>
                      <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="lfname3" name="fname" type="text"
                        (keyup)="onlyNumberIncremento()" [(ngModel)]="estoqueLicensa.incrementoCompra" />

                      <label> Definir Varejista a receber a ação: </label>
                      <select class="select" class="form-control" [(ngModel)]="varejistaEscolhido">
                        <option *ngFor="let item of varejistaOption" value={{item.ID}}>{{item.Nome}}</option>
                      </select>


                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                      <button class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-default btn-sm dropdown-toggle"
                        type="button" style="background-color:#002C52; color:#fff; border: none;"
                        (click)="confirmHandleClick()"> Confirmar </button>
                    </div>


                    <!-- <div class="col-xs-12 col-md-5 col-lg-6">
                      <div mat-dialog-title>
                        <h3>Escolha o Varejista a receber a ação: </h3>
                      </div>
                      <div mat-dialog-content> 
                        <div class="row">
                          <div class="col-md-6">
                            <label>Empresa<label style="color: red;">*</label> : </label>
                            <select class="select" class="form-control" [(ngModel)]="varejistaEscolhido">
                            <option *ngFor="let item of varejistaOption"  value={{item.ID}}>{{item.Nome}}</option>        
                            </select>
                          </div>
                        </div>                
                      </div>
                    </div> -->


                  </div>









                  <div class="tab-pane" id="tabAssoc">
                    <div class="row" style="margin-top:25px">
                      <div class="col-lg-3">
                        <div class="row" style="margin-left: 36px">
                          <div class="radio" (change)="mostraValorImei()">
                            <label>
                              <input type="radio" name="optradio" value="0" [(ngModel)]="radioASSOC" checked="true">
                              Associar
                            </label>
                          </div>
                          <div class="radio" (change)="mostraValorImei()">
                            <label>
                              <input type="radio" name="optradio" value="1" [(ngModel)]="radioASSOC">
                              Desassociar
                            </label>
                          </div>
                        </div>                        
                        <div class="col-lg-12">                          
                          <input class="col-lg-12" id="lfname4" placeholder="Digite o IMEI/SN" name="fname" type="text"
                            maxlength="15" [(ngModel)]="imei" />
                          <div class="col-lg-12"></div>
                          <button class="col-lg-12 btn btn-default btn-sm dropdown-toggle" type="button" style="background-color:#002C52; color:#fff; border: none; margin-top: 5px" 
                            (click)="validateIMEI()">
                            Adicionar Dispositivo
                          </button>
                        </div>
                      </div>
                      <div class="col-lg-9">
                          <div class="panel-heading">Dispositivo</div>
                          <div class="panel panel-default">                          
                            <div class="panel-body" style="margin-bottom:150px; text-align: left;">
                              <label *ngFor="let deviceItem of listaImei"
                                style="margin: 3px; border: 2px solid gray;width: 18%; padding:5px;">
                                <div style="margin: 10px !important;"> {{deviceItem}} <div> </div>                              
                                  <label style="float:right; cursor: pointer;" ><img (click)="removeDevice(deviceItem)" src="../../assets/Imagens/lixeira.png" > </label>
                                </div>
                              </label>
                            </div>
                          </div>
                          <button class="col-lg-offset-8 col-lg-4 btn btn-default btn-sm dropdown-toggle" type="button" style="background-color:#002C52; color:#fff" 
                            (click)="sendForUrlByTipo()">
                            Enviar 
                          </button>
                        </div>
                    </div>





                  </div>




















                  <div class="tab-pane fade" id="tabCadastroVarejista">
                    <div class="row col-lg-12">
                      <div class="row col-lg-12">
                        <button class="col-xs-2 col-sm-2 col-md-2 col-lg-1 btn btn-default btn-sm dropdown-toggle"
                          type="button" (click)="abrirCadastroVarejistaModal()"
                          style="background-color:#002C52; color:#fff; border: none; margin-top: 5px; margin-bottom: 25px; height: 40px;">
                          Incluir +
                        </button>
                      </div>
                      <div class="panel panel-default col-xs-12 col-sm-10 col-md-10 col-lg-12" style="padding-right: 0px; padding-left: 0px">
                        <div class="table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th> Empresa </th>
                                <th class="form-group">
                                  <!-- <input type="text" style="width: 150px;" (keyup)="filterByInputVarejista()" maxlength="25" -->
                                  <input type="text" style="width: 150px;" (keyup)="filterAllVarejista()" maxlength="25"
                                    [(ngModel)]="searchVarejista" placeholder="Nome Varejista" class="form-control">
                                </th>
                                <th> E-Mail </th>
                                <th> Razão Social </th>
                                <th> CNPJ </th>
                                <th class="form-group" >
                                  <!-- <select class="select" style="width: 200px;"  [(ngModel)]="tVarejista" (change)="filterTable()"> -->
                                  <select class="select" style="width: 200px;"  [(ngModel)]="tVarejista" (change)="filterAllVarejista()">
                                    <option value="varejistas" class="selected">Todas as lojas</option>
                                    <option *ngFor="let varejista of listaAux" [value]="varejista.nome_fantasia">
                                      {{ varejista.nome_fantasia }}</option>
                                  </select>
                                </th>
                                <th> Telefone </th>
                                <th> 
                                  <!-- <select class="select" [(ngModel)]="statusModel" (change)="filterByStatus()"> -->
                                  <select class="select" [(ngModel)]="statusModel" (change)="filterAllVarejista()">
                                    <option *ngFor="let status of status" [value]="status.value">{{status.label}}</option>
                                  </select>
                                </th>
                                <th> Editar </th>
                              </tr>
                            </thead>
                            <tbody *ngIf="listaLinxResellers.length > 0">
                              <tr
                                *ngFor="let linx of listaLinxResellers | paginate: { itemsPerPage: currentItemsPerPageLinxResellers, currentPage: currentPageLinxResellers }">
                                <td>{{ linx.idempresa }}</td>
                                <td>{{ linx.nome }}</td>
                                <td>{{ linx.email }}</td>
                                <td>{{ linx.razao_social }}</td>
                                <td>{{ linx.cnpj }}</td>
                                <td>{{ linx.nome_fantasia }}</td>
                                <td>{{ linx.telefone }}</td>
                                <td>{{ linx.ativo ==='1' ? 'Ativo' : 'Inativo'}}</td>
                                <td (click)="editarVarejistaModal(linx)" style="cursor: pointer;"><img
                                  src="../../assets/Imagens/editar.png"></td>
                              </tr>
                            </tbody>
                            <tbody *ngIf="listaLinxResellers.length === 0">
                              <tr>
                                <td rowspan="6">Não existe nenhum dado pesquisado!</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="col-sm-2" style="float: right;" *ngIf="listaLinxResellers.length > 0">
                          <label>ver Até:</label>
                          <select class="form-control" [(ngModel)]="currentItemsPerPageLinxResellers">
                            <option [value]="pagesmen.itemsPerPage" *ngFor="let pagesmen of dropdownPagesLinxResellers">
                              {{pagesmen.itemsPerPage}}</option>
                          </select>
                        </div>
                        <div class="col-sm-12" *ngIf="listaLinxResellers.length > 0" style="text-align: center;">
                          <nav aria-label="Page navigation">
                            <div style="margin: 0 auto;">
                              <pagination-controls (pageChange)="currentPageLinxResellers = $event"
                                previousLabel="Anterior" nextLabel="Proximo"></pagination-controls>
                            </div>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>




                  
                  <div class="tab-pane fade" id="tabCadastrarEmail">
                    <div class="row col-lg-12">
                      <button (click)="abrirEmailModal()" class="col-lg-2 btn btn-default btn-sm dropdown-toggle"
                        type="button" style="background-color:#002C52; color:#fff;margin-bottom: 10px;"> Adicionar
                        E-Mail
                      </button>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="panel panel-default">
                          <!-- <div class="panel-heading" style="background-color: #363636; color: #fff;">Panel heading</div> -->
                          <div class="table-responsive">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>
                                    <input type="text" (keyup)="filterByInputEmail()" maxlength="25"
                                      [(ngModel)]="searchEmailList" placeholder="E-mail" class="form-control" />
                                  </th>
                                </tr>
                                <tr>
                                  <th class="col-lg-1">Email</th>
                                  <th class="col-lg-1">Nome</th>
                                  <th class="col-lg-1">Editar</th>
                                  <th class="col-lg-1">Remover</th>
                                </tr>
                              </thead>
                              <tbody *ngIf="lisCadastroEmails.length > 0">
                                <tr
                                  *ngFor="let cadastroEmails of lisCadastroEmails | paginate: { itemsPerPage: currentItemsPerPageCadastroEmails, currentPage: currentPageCadastroEmails }">
                                  <td>{{ cadastroEmails.email }} </td>
                                  <td>{{ cadastroEmails.nome }} </td>
                                  <td> <label style="float:center; cursor: pointer;"
                                      (click)="editarEmail(cadastroEmails)">
                                      <img src="../../assets/Imagens/editar.png"> </label> </td>
                                  <td> <label style="float:center; cursor: pointer;"
                                      (click)="removeEmail(cadastroEmails)">
                                      <img src="../../assets/Imagens/lixeira.png"> </label> </td>
                                </tr>
                              </tbody>
                              <tbody *ngIf="lisCadastroEmails.length === 0">
                                <tr>
                                  <td rowspan="6">Não existe nenhum dado pesquisado!</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="col-sm-2" style="float: right;" *ngIf="lisCadastroEmails.length > 0">
                            <label>ver Até:</label>
                            <select class="form-control" [(ngModel)]="currentItemsPerPageCadastroEmails">
                              <option [ngValue]="pagesmen.itemsPerPage"
                                *ngFor="let pagesmen of dropdownPagesCadastroEmails">
                                {{pagesmen.itemsPerPage}}
                              </option>
                            </select>
                          </div>
                          <div class="col-sm-12" *ngIf="lisCadastroEmails.length > 0" style="text-align: center;">
                            <nav aria-label="Page navigation">
                              <div style="margin: 0 auto;">
                                <pagination-controls (pageChange)="currentPageCadastroEmails = $event"
                                  previousLabel="Anterior" nextLabel="Proximo"></pagination-controls>
                              </div>
                            </nav>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>







                  <div class="tab-pane fade" id="tabParmRelacionamento">
                    <div class="row col-lg-12">
                      <!-- <button (click)="abrirEmailModal()" class="col-lg-2 btn btn-default btn-sm dropdown-toggle"
                        type="button" style="background-color:#002C52; color:#fff;margin-bottom: 10px;"> Adicionar
                        E-Mail
                      </button> -->
                      <br> <br>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="panel panel-default">
                          <br> <br>
                          <!-- <div class="panel-heading" style="background-color: #363636; color: #fff;">Panel heading</div> -->
                          <div class="table-responsive">
                            <table class="table table-striped">
                              <thead>
                                <!-- <tr> 
                                  <th>
                                    <input type="text" (keyup)="filterByInputEmail()" maxlength="25"
                                      [(ngModel)]="searchEmailList" placeholder="E-mail" class="form-control" />
                                  </th>                                                                     
                                </tr> -->
                                <tr>
                                  <th class="col-lg-1"> </th>
                                  <th class="col-lg-1">Email</th>
                                  <th class="col-lg-1">Telefone</th>                                  
                                  <th class="col-lg-1">Editar</th>                              
                                </tr>
                              </thead>
                              <tbody *ngIf="lisRelacionamento.length > 0">
                                <tr
                                  *ngFor="let RelacionamentoSoudi of lisRelacionamento" > <!-- | paginate: { itemsPerPage: currentItemsPerPageCadastroEmails, currentPage: currentPageCadastroEmails }" > -->
                                  <td> <b> Relacionamento Soudi: </b> </td> 
                                  <td>{{ RelacionamentoSoudi.email_soudi }} </td> 
                                  <td>{{ RelacionamentoSoudi.telefone_soudi }} </td> 
                                  <td> <label style="float:center; cursor: pointer;" (click)="editarRelacionamento(RelacionamentoSoudi)"> 
                                       <img src="../../assets/Imagens/editar.png"> </label> </td>
                                  <!-- <td> <label style="float:center; cursor: pointer;" (click)="removeEmail(cadastroEmails)"> 
                                      <img src="../../assets/Imagens/lixeira.png"> </label> </td> -->
                                </tr>
                              </tbody>
                              <tbody *ngIf="lisRelacionamento.length === 0">
                                <tr>
                                  <td rowspan="6">Não existe nenhum dado pesquisado!</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- <div class="col-sm-2" style="float: right;" *ngIf="lisCadastroEmails.length > 0">
                            <label>ver Até:</label>
                            <select class="form-control" [(ngModel)]="currentItemsPerPageCadastroEmails">
                              <option [ngValue]="pagesmen.itemsPerPage"
                                *ngFor="let pagesmen of dropdownPagesCadastroEmails">
                                {{pagesmen.itemsPerPage}}
                              </option>
                            </select>
                          </div>
                          <div class="col-sm-12" *ngIf="lisCadastroEmails.length > 0" style="text-align: center;">
                            <nav aria-label="Page navigation">
                              <div style="margin: 0 auto;">
                                <pagination-controls (pageChange)="currentPageCadastroEmails = $event"
                                  previousLabel="Anterior" nextLabel="Proximo"></pagination-controls>
                              </div>
                            </nav>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>







                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>