<div mat-dialog-title>
  <span *ngIf="flag == false">Adicionar</span>  <span *ngIf="flag == true">Atualizar</span> Usuário <label (click)="fechar()" style="float: right; cursor: pointer;">X</label>
</div>
<div mat-dialog-content>
  <div class="row col-lg-12">
    <div class="col-lg-4">
      <label>Nome: <label style="color: red;">*</label></label>
      <input [(ngModel)]="data.user.name"  class="col-lg-12" type="text">
    </div>
    <div class="col-lg-4">
      <label>Email: <label style="color: red;">*</label></label>
      <input [(ngModel)]="data.user.email"   class="col-lg-12" type="text">
    </div>
    <div class="col-lg-4">
      <label>Senha: <label style="color: red;">*</label></label>
      <input [(ngModel)]="data.user.password" class="col-lg-12" type="password">
    </div>
    <div class="col-lg-4"> <br>
      <label>Status: <label style="color: red;">*</label></label>
      <select class="col-lg-12" [(ngModel)]="data.user.isActive">
        <option *ngFor="let status of statusModel" [value]="status.value">{{status.label}}</option>
      </select>
    </div>
  </div>
</div>

  <div class="row" *ngIf="flag == true && resellersAssoc.length > 0" style="margin-top: 15px; margin-left: 0px; margin-right: 0px">
    <div class="panel panel-default" style="padding-right: 0px; padding-left: 0px" style="overflow: hidden;">
        <div class="panel-heading" style="background-color: #363636; color: #fff;">Usuários do Grupo</div>
        <table class="table">
          <thead>
            <tr>
              <!-- <th class="col-lg-4"> <input type="text" placeholder="Buscar USUÁRIO" class="form-control"> </th> -->
              <th class="col-lg-1">Varejistas Associados</th>
              <th class="col-lg-1">Desassociar</th>
            </tr>
          </thead>
          <tbody>                 
            <tr *ngFor="let reseller of resellersAssoc">
              <td>{{reseller.nomeFantasia}} </td>              
              <td style="cursor:pointer;"><img (click)="disassociateResellers(reseller.idempresa)" src="../../assets/Imagens/lixeira.png"></td>
            </tr>     
          </tbody>
        </table>
    </div>
  </div>

<div *ngIf="resellers.length > 0" mat-dialog-title style="margin-top:40px">
    Varejista
  </div>
  <div mat-dialog-content>
    <div class="row col-lg-12">
      <div *ngFor="let reseller of resellers" class="col-lg-5">
        <input type="checkbox" aria-label="..." style="margin-right: 8px" [(ngModel)]="reseller.selected">
        <label for="a">{{reseller.nomeFantasia}}</label>
      </div>
    </div>
  </div>

<div mat-dialog-actions>
  <div class="row col-lg-12 col-lg-offset-8" style="margin-top: 15px">
    <button class="btn btn-default btn-sm dropdown-toggle" type="button"
      (click)="createUser()" *ngIf="flag == false" style="background-color:#002C52; color:#fff;margin-right: 10px"> Adicionar Usuário </button>
      <button class="btn btn-default btn-sm dropdown-toggle" type="button"
    (click)="atualizarUser(data.user,data.user.id)"  *ngIf="flag == true" style="background-color:#002C52; color:#fff;margin-right: 10px"> Atualizar </button>
    <button class="btn btn-default btn-sm dropdown-toggle" type="button"
    (click)="fechar()"  style="background-color:#002C52; color:#fff;margin-right: 10px"> Cancelar </button>
  </div>
</div>