<div mat-dialog-title>
    Editar Grupo <label style="float: right; cursor: pointer;" (click)="Cancelar()" >X</label>
  </div>
  <div mat-dialog-content>
    <div class="row col-lg-12">
      <div class="col-lg-4">
        <label>Nome do Grupo: <label style="color: red;">*</label></label>
        <input class="col-lg-12" [(ngModel)]="newGrupo.name" type="text">
      </div>
      <div class="col-lg-6">
        <label>Descrição: <label style="color: red;">*</label></label>
        <input class="col-lg-12" [(ngModel)]="newGrupo.description" type="text">
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="panel panel-default" style="padding-right: 0px; padding-left: 0px" style="overflow: hidden;">
        <div class="panel-heading" style="background-color: #363636; color: #fff;">Usuários do Grupo</div>
        <table class="table">
          <thead>
            <tr>
              <!-- <th class="col-lg-4"> <input type="text" placeholder="Buscar USUÁRIO" class="form-control"> </th> -->
              <th class="col-lg-1">Usuários Associados</th>
              <th class="col-lg-1">Desassociar</th>
            </tr>
          </thead>
          <tbody>                 
            <tr *ngFor = "let user of listGroupUser">
              <td>{{user.name}} </td>              
              <td style="cursor:pointer;"><img (click)="desassociar(user.id)" src="../../assets/Imagens/lixeira.png"></td>
            </tr>     
          </tbody>
        </table>
      </div>
    </div>
  
  <!-- <div mat-dialog-title style="margin-top:40px"> </div>
    <div mat-dialog-content> -->
      <div class="row col-lg-12">
       <label>Associe um ou mais usuários ao grupo:</label>
        <div class="row" *ngFor = "let user of listFilterUser">          
          <input type="checkbox" aria-label="..." style="margin-left: 15px" [(ngModel)]="user.checked" id="itemCheckbox"> {{user.name}}          
        </div>               
      <!-- </div>
    </div> -->


  
  
  <div mat-dialog-actions>
    <div class="row col-lg-12 col-lg-offset-10" style="margin-top: 15px">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" (click)="updateGrupo()"
        style="background-color:#002C52; color:#fff;margin-right: 10px"> Atualizar Grupo </button>
      <!-- <button class="btn btn-default btn-sm dropdown-toggle" type="button" (click)="Cancelar()"
        style="background-color:#002C52; color:#fff;margin-right: 10px"> Cancelar </button> -->
    </div>
  </div>