<div mat-dialog-title>
    Edição de Relacionamento <label (click)="onNoClick()" style="float: right; cursor: pointer;">X</label>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-12">
      <label style="padding-right: 25px;" >Email<label style="color: red;">*</label> : </label>
      <input type="text" size="40" [(ngModel)]="soudi.email_soudi">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <label style="padding-right: 6px;" >Telefone<label style="color: red;">*</label> : </label>
      <input type="text" size="15" [(ngModel)]="soudi.telefone_soudi">
    </div>        
  </div>  
  
  <div class="row col-lg-12" style="margin-top: 15px">
    <button class="btn btn-default btn-sm dropdown-toggle" (click)="editarSoudi()" type="button" style="background-color:#002C52;color:#fff;float: right;"> Atualizar </button>
  </div>
</div>
<div mat-dialog-actions>
</div>