<div mat-dialog-title>
    <span *ngIf="!editing">Adicionar</span>  <span *ngIf="editing">Atualizar</span> Perfil <label  (click)="closeDialog()" style="float: right; cursor: pointer;">X</label>
  </div>
  <div mat-dialog-content>
    <div class="row col-lg-12">
      <div class="col-lg-6">
        <label>Nome do Perfil: <label style="color: red;">*</label></label>
        <input class="col-lg-12" type="text"  [(ngModel)]="profile.name">
      </div>
    </div>
  </div>
  

  <div class="row" *ngIf="editing && groupsAssoc.length > 0" style="margin-top: 15px; margin-left: 0px; margin-right: 0px">
    <div class="panel panel-default" style="padding-right: 0px; padding-left: 0px" style="overflow: hidden;">
        <div class="panel-heading" style="background-color: #363636; color: #fff;">Usuários do Grupo</div>
        <table class="table">
          <thead>
            <tr>
              <!-- <th class="col-lg-4"> <input type="text" placeholder="Buscar USUÁRIO" class="form-control"> </th> -->
              <th class="col-lg-1">Grupos Associados</th>
              <th class="col-lg-1">Desassociar</th>
            </tr>
          </thead>
          <tbody>                 
            <tr *ngFor="let group of groupsAssoc">
              <td>{{group.name}} </td>              
              <td style="cursor:pointer;"><img (click)="disassociateGroups(group.id)" src="../../assets/Imagens/lixeira.png"></td>
            </tr>     
          </tbody>
        </table>
    </div>
  </div>

  <div mat-dialog-title style="margin-top:40px">
    Grupos
  </div>
  <div mat-dialog-content>
    <div class="row col-lg-12">
      <div class="row">

        <!-- <div *ngIf="editing" *ngFor="let groupA of groupsAssoc" class="col-lg-4">
          <input type="checkbox" aria-label="..." style="margin-right: 8px" [(ngModel)]="groupA.selected">
          <label for="a">{{groupA.name}}</label>
        </div> -->

        <div *ngFor="let group of groups" class="col-lg-4">
          <input type="checkbox" aria-label="..." style="margin-right: 8px" [(ngModel)]="group.selected">
          <label for="a">{{group.name}}</label>
        </div>
        
      </div>
    </div>
  </div>

  <div mat-dialog-title style="margin-top:40px">
      Permissões
  </div>
  <div mat-dialog-content>
    <div class="row col-lg-12">
      <div class="row" *ngFor="let permission of permissions">

        <div class="col-lg-3">
          <label for="a">{{permission.resource}}</label>
        </div>

        <div class="col-lg-3">
          <label for="b">Leitura</label>
          <input type="checkbox" aria-label="..." style="margin-left: 8px" [(ngModel)]="permission.canRead">
        </div>

        <div class="col-lg-3">
          <label for="c">Escrita</label>
          <input type="checkbox" aria-label="..." style="margin-left: 8px" [(ngModel)]="permission.canWrite">
        </div>
      </div>
    </div>
  </div>
  
  <div mat-dialog-actions>
    <div class="row col-lg-12 col-lg-offset-8" style="margin-top: 15px">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" (click)="createProfile()"
        style="background-color:#002C52; color:#fff;margin-right: 10px" *ngIf="!editing"> Adicionar Perfil </button>
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" (click)="updateProfile(profile)"
        style="background-color:#002C52; color:#fff;margin-right: 10px" *ngIf="editing"> Atualizar</button>
      <!--   -->
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" (click)="closeDialog()"
        style="background-color:#002C52; color:#fff;margin-right: 10px"> Cancelar </button>
    </div>
  </div>