<app-header></app-header>
<div class="container-fluid" style="min-height: 78vh; padding-left: 65px;">
  <div class="row">
    <app-menu></app-menu>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="col-lg-3" style="padding: 0px">Status Dispositivos</h2>
          <label class="col-lg-9" for="periodo" style="padding-left: 0px;">Selecione o período desejado</label>
          <input type="text" ngxDaterangepickerMd (change)="filterByDate($event)"
            [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [(ngModel)]="selected" class="col-lg-2 inpt"
            placeholder="de - até" />
          <button class="col-xs-1 col-sm-1 col-md-1 col-lg-1 btn btn-default btn-sm dropdown-toggle"
            style="background-color:#002C52; color:#fff; border: none;" (click)="cleanDate()">Limpar Data</button>
        </div>
        <div class="col-sm-12">
          <div class="panel panel-default" style="padding-right: 0px; padding-left: 0px">
            <div class="table-responsive">
              <table class="table table-striped scrolling-wrapper">
                <thead>
                  <tr>
                    <th class="col-lg-1"> <input type="text" (keyup)="filterByInputIMEI()" maxlength="15"
                        [(ngModel)]="searchIMEI" placeholder="Código IMEI" class="form-control"></th>

                    <th class="col-lg-2">
                      <select class="select col-lg-12" [(ngModel)]="sVarejista" (change)="filterTable()">
                        <option value="varejistas" class="selected">Lojas</option>
                        <option *ngFor="let varejista of listaTransacaovarejista" [value]="varejista.varejista">
                          {{ varejista.varejista }}</option>
                      </select>
                    </th>

                    <th class="col-lg-1"> SKU </th>

                    <th class="col-lg-1"> Produto </th>

                    <th class="col-lg-1"> Nº Nota </th>

                    <th class="col-lg-1">
                      <select class="select" (change)="filterBycomboBoxLogNotificacoesStatusKG()"
                        [(ngModel)]="comboBoxLogNotificacaoStatusKGModel">
                        <option *ngFor="let cBLogNotificacoesStatusKG of comboBoxLogNotificacoesStatusKG"
                          [ngValue]="cBLogNotificacoesStatusKG">{{cBLogNotificacoesStatusKG.name}}</option>
                      </select></th>

                    <th class="col-lg-2">
                      Dt/Hr Registro KG
                      <span *ngIf="!flagOrderByDtHrStatusDispositivosKG" (click)="orderByDtHStatusKGDispositivos()"
                        style="cursor: pointer;" class="caret"></span>
                      <span *ngIf="flagOrderByDtHrStatusDispositivosKG" (click)="orderByDtHStatusKGDispositivos()"
                        style="transform: rotate(180deg);cursor: pointer;" class="caret"></span>
                      <br>
                    </th>

                    <th class="col-lg-1">
                      <select class="select" (change)="filterBycomboBoxLogNotificacoesStatusKDP()"
                        [(ngModel)]="comboBoxLogNotificacaoStatusKDPModel">
                        <option *ngFor="let cBLogNotificacoesStatusKDP of comboBoxLogNotificacoesStatusKDP"
                          [ngValue]="cBLogNotificacoesStatusKDP">{{cBLogNotificacoesStatusKDP.name}}</option>
                      </select>
                    </th>

                    <th class="col-lg-2">Dt/Hr Registro KDP
                      <span *ngIf="!flagOrderByDtHrStatusDispositivosKDP" (click)="orderByDtHStatusKDPDispositivos()"
                        style="cursor: pointer;" class="caret"></span>
                      <span *ngIf="flagOrderByDtHrStatusDispositivosKDP" (click)="orderByDtHStatusKDPDispositivos()"
                        style="transform: rotate(180deg);cursor: pointer;" class="caret"></span>
                      <br>
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="listaStatusDispositivos.length > 0">
                  <tr
                    *ngFor="let status of listaStatusDispositivos | paginate: { itemsPerPage: currentItemsPerPageListaStatusDispositivos, currentPage: currentPageListaStatusDispositivos }">
                    <td>{{ status.codigoImei }}</td>
                    <td>{{ status.loja }}</td>
                    <td>{{ status.sku }}</td>
                    <td>{{ status.nomeProduto }}</td>
                    <td>{{ status.notaFiscal }}</td>
                    <td>{{ status.statusKG }}</td>
                    <td>{{ status.dtHoraKG }}</td>
                    <td>{{ status.statusKDP }}</td>
                    <td>{{ status.dtHoraKDP }}</td>
                  </tr>
                </tbody>
                <tbody *ngIf="listaStatusDispositivos.length === 0">
                  <tr>
                    <td rowspan="6">Não existe nenhum dado pesquisado!</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


        <div class="col-sm-1" style="float: right;" *ngIf="listaStatusDispositivos.length > 0">
          <label>ver Até:</label>
          <select class="form-control" [(ngModel)]="currentItemsPerPageListaStatusDispositivos">
            <option *ngFor="let pagesmen of dropdownPagesListaStatusDispositivos" [value]="pagesmen.itemsPerPage">
              {{pagesmen.itemsPerPage}}</option>
          </select>
        </div>
        <div class="col-sm-12" *ngIf="listaStatusDispositivos.length > 0" style="text-align: center;">
          <nav aria-label="Page navigation">
            <div style="margin: 0 auto;">
              <pagination-controls (pageChange)="currentPageListaStatusDispositivos = $event" previousLabel="Anterior"
                nextLabel="Proximo"></pagination-controls>
            </div>
          </nav>
        </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>