<div mat-dialog-title *ngIf="flag == false" >
    Cadastro de Varejistas <label (click)="onNoClick()" style="float: right; cursor: pointer;">X</label>
  </div>
  <div mat-dialog-title *ngIf="flag== true" >
    Editar Varejista {{data.linxResellers.nome}} <label (click)="onNoClick()" style="float: right; cursor: pointer;">X</label>
  </div>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-md-6 form-group">
        <label>Nome<label style="color: red;">*</label> :</label>
        <input type="text" class="form-control" [(ngModel)]="data.linxResellers.nome">
      </div>
      <div class="col-md-6 form-group">
        <label>Email<label style="color: red;">*</label> :</label>
        <input type="text" class="form-control" [(ngModel)]="data.linxResellers.email">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label>Razão Social<label style="color: red;">*</label> :</label>
        <input type="text" class="form-control" [(ngModel)]="data.linxResellers.razao_social">
      </div>
      <div class="col-md-6 form-group">
        <label>CNPJ<label style="color: red;">*</label> :</label>
        <input type="text" class="form-control" (keyup)="onlyNumberCNPJ()" maxlength="14" [(ngModel)]="data.linxResellers.cnpj">
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
          <label>Loja<label style="color: red;">*</label> :</label>
          <input type="text" class="form-control" [(ngModel)]="data.linxResellers.nome_fantasia">
        </div>
        <div class="col-md-6 form-group">
          <label>Telefone<label style="color: red;">*</label> :</label>
          <input type="text" class="form-control" maxlength="14" [(ngModel)]="data.linxResellers.telefone">
        </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <label>Id Empresa<label style="color: red;">*</label> :</label> 
        <input type="text" class="form-control" [(ngModel)]="data.linxResellers.idempresa">        
      </div>      
    </div>
    <div class="row col-lg-12">
      <div mat-dialog-actions>
        <div class="row col-lg-12" style="margin-bottom: 15px">
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="btnRadioModel">
            <mat-radio-button class="example-radio-button" *ngFor="let atv of listBtnRadio" [value]="atv.value">
              {{atv.name}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row col-lg-12" style="margin-top: 15px">
        <button class="btn btn-default btn-sm dropdown-toggle"  (click)="cadastrarResellers(data.linxResellers)" type="button" style="background-color:#002C52; color:#fff;margin-right: 10px"
        *ngIf="flag == false">Cadastrar Varejista</button>
        <button class="btn btn-default btn-sm dropdown-toggle"  (click)="editarResellers(data.linxResellers)" type="button" style="background-color:#002C52; color:#fff;margin-right: 10px"
        *ngIf="flag== true">Editar Varejista</button>      </div>
    </div>
    
  </div>
  