<div mat-dialog-title>
  <div class="row">  
    <button style="float: right" (click)="Cancelar()" >X</button></div>
  </div>
  <div mat-dialog-content>
    <div class="row ">
      <button class="col-lg-2 btn btn-default btn-sm dropdown-toggle" type="button"
        style="background-color:#002C52; color:#fff;margin-right: 10px; height: 40px; margin-bottom: 20px; font-size: 18px;"
        (click)="incluirUsuario()"> + Usuário </button>
    </div>


    <div class="row">
    <div class="panel panel-default" style="padding-right: 0px; padding-left: 0px" style="overflow: hidden;">
        <div class="panel-heading" style="background-color: #363636; color: #fff;">Usuários do Grupo</div>
        <table class="table">
          <thead>
            <tr>
              <!-- <th class="col-lg-4"> <input type="text" placeholder="Buscar USUÁRIO" class="form-control"> </th> -->
              <th class="col-lg-1">Usuário</th>
              <th class="col-lg-1">Remover</th>
            </tr>
          </thead>
          <tbody>                 
            <tr *ngFor = "let user of listGroupUser">
              <td>{{user.name}} </td>              
              <td style="cursor:pointer;"><img (click)="desassociar(user.id)" src="../../assets/Imagens/lixeira.png"></td>
            </tr>     
          </tbody>
        </table>
      </div>
    </div>




</div>
<div mat-dialog-actions>
</div>