<h1 mat-dialog-title style="text-align: center;">Mensagem</h1>
<div mat-dialog-content style="text-align: center;">
  <p>{{data.mensagem}}</p>
</div>
<div mat-dialog-actions>
  <button style="margin: 0 auto;" mat-button color="primary" (click)="onNoClick()"  cdkFocusInitial>Não</button>
  <button style="margin: 0 auto;" mat-button color="warn" mat-dialog-close="" (click)="onYesClick()">Sim</button>
</div>