<div mat-dialog-title>
  Cadastro de Registro Manual <label (click)="onNoClick()" style="float: right; cursor: pointer;">X</label>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-6 form-group">
      <label>CNPJ<span style="color: red;">*</span> :</label>
      <input class="col-lg-12 form-control form-control" type="text" [(ngModel)]="registroManual.cnpj" required>
    </div>
    <div class="col-md-6">
      <label>Razão Social<span style="color: red;">*</span> :</label>
      <input class="col-lg-12 form-control" type="text" [(ngModel)]="registroManual.razaoSocial" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label>Nome Loja :</label>
      <input class="col-lg-12 form-control" type="text" [(ngModel)]="registroManual.nomeLoja">
    </div>
    <div class="col-md-6 form-group">
      <label>Número de Loja :</label>
      <input class="col-lg-12 form-control" type="text" [(ngModel)]="registroManual.idempresa">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label>Nota<span style="color: red;">*</span> :</label>
      <input class="col-lg-12 form-control" type="text" [(ngModel)]="registroManual.nota" required>
    </div>
    <div class="col-md-6">
      <label>Linha da nota :</label>
      <input class="col-lg-12 form-control" type="text" [(ngModel)]="registroManual.linhaNota">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Modelo Documento<span style="color: red;">*</span>:</label>
      <select class="select" class="form-control" [(ngModel)]="registroManual.modeloDocumento" required>
        <option value="55">Nfe</option>
        <option value="59">CFe</option>
      </select>
    </div>
    <!-- <div class="col-md-6">
      <label>Numero da Venda :</label>      
      <input class="col-lg-12 form-control"  type="text" [(ngModel)]="registroManual.transacao">
    </div> -->
    <div class="col-md-6 form-group">
      <label>Chave Nfe :</label>
      <input class="col-lg-12 form-control" type="text" [(ngModel)]="registroManual.chaveNfe">
    </div>    
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Nome Cliente :</label>
      <input class="col-lg-12 form-control" type="text" [(ngModel)]="registroManual.nomeCliente">
    </div>
    <div class="col-md-6">
      <label>CPF Cliente<span style="color: red;">*</span> :</label>
      <input class="col-lg-12 form-control" type="text" [(ngModel)]="registroManual.cpfCliente" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Data emissão<span style="color: red;">*</span> :</label>
      <input class="col-lg-12 form-control" type="text" placeholder="aaaa-mm-dd" [(ngModel)]="registroManual.dataEmissao" required>
    </div>
    <div class="col-md-6">
      <label>Valor<span style="color: red;">*</span> :</label>
      <input class="col-lg-12 form-control" type="text" [(ngModel)]="registroManual.valor" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Forma Pagamento<span style="color: red;">*</span> :</label>
      <input class="col-lg-12 form-control" type="text" [(ngModel)]="registroManual.formaPagamento" required>
    </div>
    <div class="col-md-6">
      <label>Parcelas<span style="color: red;">*</span> :</label>
      <input class="col-lg-12 form-control" type="text" [(ngModel)]="registroManual.parcelas" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Tipo Dispositivo<span style="color: red;">*</span> :</label>
      <select class="select" class="form-control" [(ngModel)]="registroManual.tipoDispositivo" required>
        <option value="Smartphone">Smartphone</option>
        <option value="Tablet">Tablet</option>
        <option value="Wearable">Wearable</option>
      </select>
    </div>
    <div class="col-md-6">
      <label>IMEI/SN :</label>
      <input class="col-lg-12 form-control" type="text" [(ngModel)]="registroManual.imeiSn">
    </div>
  </div>
  <!-- <div class="row">    
    
  </div> -->
</div>

<div mat-dialog-actions>
  <div class="row col-lg-12 col-lg-offset-8" style="margin-top: 15px">
    <button class="btn btn-default btn-sm dropdown-toggle" (click)="salvarRegistroManual()" type="button"
      style="background-color:#002C52; color:#fff;margin-right: 10px">
      Salvar Registro Manual </button>
  </div>
</div>