<h1 mat-dialog-title style="text-align: center;">Lista da Whitelist</h1>
<div class="row">
  <button (click)="onNoClick()" style="float: right; margin-bottom: 25px">X</button>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="panel panel-default col-xs-12 col-sm-10 col-md-10 col-lg-12"
      style="padding-right: 0px; padding-left: 0px">
      <div class="table-responsive">
        <table class="table" *ngIf="whitelist.length > 0">
          <thead>
            <tr>
              <th class="col-sm-9"> Serial Number </th>
              <!-- <th> Ativo </th> -->
              <th> Remover da Whitelist </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let white of whitelist">
              <td>{{ white.serialNumber }}</td>
              <!-- <td>{{ white.ativo }}</td> -->
              <td><fa-icon style="cursor: pointer;" (click)="deleteWhiteList(white)" [icon]="faTrashAlt"></fa-icon></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<div class="row col-lg-12" style="margin-top: 15px">
  <!-- <button class="btn btn-default btn-sm dropdown-toggle" type="button" style="background-color:#002C52; color:#fff;margin-right: 10px"> Adicionar Email </button> -->
</div>
</div>
<div mat-dialog-actions>
</div>