<!-- tipos de col xs sm md lg e xl -->
<app-header></app-header>
<div class="container-fluid" style="min-height: 78vh;">
    <div class="row fundo">
        <div class="col-sm-12 col-md-6">
            <form class="form-signin">
                <img class="center-block" src="../../assets/Imagens/logo-soudi.png" style="width:60%; height: 60%; margin: 0 auto; margin-bottom: 25px">
                <div class="form-group">
                    <input [(ngModel)]="user" name="user" type="text" id="user" class="form-control" placeholder="Usuário" required>
                </div>
                <div class="form-group">
                    <input [(ngModel)]="password" name="password" type="password" id="password" class="form-control" placeholder="Senha" required>
                </div>
                <button (click)="login()" class="btn btn-lg btn-primary btn-block">Acessar</button>
                <div class="text-centr login-title" id="target">{{target}}</div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>