.form-signin {
    background-color: #fff;
    margin: 70px auto;
    padding: 40px 50px;
    width: 50%;
    border-radius: 5px;
}

.fundo {
    background-image: url("../../assets/Imagens/background.png");
    background-color: #132E49;
    height: 78vh;
    background-position: right bottom;
    background-repeat: no-repeat;
}



@media screen and (max-width: 768px){
    .form-signin {
        width: 90%;
    }
    .footer {
        font-size: 11px;
        line-height: 16px;
        padding: 12px 0;
    }
}