/* MENU LATERAL FIXO : http://jsfiddle.net/d63afqg1/11/ */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.sidebar-kiri {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: #002c53;
  color: #fff;
  overflow: hidden;
  transition: width .5s ease-in-out;
  z-index: 100;
}
.sidebar-kiri:hover {
  width: 230px;
}
.sidebar-kiri:hover .main-nav ul li a {
  opacity: 1;
  left: 0;
  transition-delay: .2s;
}
.sidebar-kiri .main-nav ul li {
  min-height: 40px;
  line-height: 5px;
  position: relative;
  /* border-bottom: 1px solid #fff; */
  transition: all .1s ease-in-out;
  margin-top: 25px;
}



.sidebar-kiri .main-nav ul li a {
  display: block;
  padding-left: 50px;
  position: relative;
  left: 15px;
  opacity: 0;
  transition: all .3s ease-in-out;
  transition-delay: 0s;
  cursor: pointer;
  font-weight: 300;
}
.sidebar-kiri .main-nav ul li span {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  text-align: center;
}
.sidebar-kiri .main-nav ul li span:before {
  font-size: 1.25em;
  transition: all .1s ease-in-out;
}
/* .sidebar-kiri .main-nav ul li:hover {
  background-color: #1b1e24;
} */
/* COR DO ÍCONE QUANDO PASSA POR CIMA */
.sidebar-kiri .main-nav ul li:hover span:before {
  color: #595959;
}

.content {
  position: relative;
}

/* FINAL MENU LATERAL FIXO : http://jsfiddle.net/d63afqg1/11/ */

a {
  color: #fff;
}

link:active{
  background-color: red;
}

.logo {
    margin: 20px auto;
    display: block;
    height: 50px;
}

img {
   margin-right:8px
}

.navbar {
    background-color: #F2F2F2;
}

nav a {
    color: #363636;
}

nav .icon-bar {
    background: #363636;
}

.active {
    color: #0e6dbf !important;
    font-weight: bold;
}

.navbar-nav li {
    clear: both;
}

@media (min-width:992px) {
    .menu {
        padding-left: 0;
    }
 }