<!-- MENU LATERAL FIXO : http://jsfiddle.net/d63afqg1/11/ -->
        <aside class='sidebar-kiri ' *ngIf="clientId">
            <div class='main-nav'>
              <ul>
                <div class='logo'>
                </div>
                <li>
                  <a routerLink="/home">Estoque de Licenças</a>
                  <span class='entypo-chart-line'></span>
                </li>
                <li>
                  <a routerLink="/status-dispositivos">Status Dispositivos</a>
                  <span class='entypo-search'></span>
                </li>
                <li>
                  <a routerLink="/notificacoes">Notificações</a>
                  <span class='entypo-flag'></span>
                </li>
                <li>
                    <a routerLink="/registro-manual">Registro Manual</a>
                    <span class='entypo-download'></span>
                  </li>
                <li>
                  <a routerLink="/configuracoes">Configurações</a>
                  <span class='entypo-cog'></span>
                </li>
                <li>
                  <a routerLink="/perfis">Listas</a>
                  <span class='entypo-list'></span>
                </li>
                <li>
                  <a routerLink="/log">Acessos</a>
                  <span class='entypo-users'></span>
                </li>
                <li>
                  <a routerLink="/log-notificacao">Log de Notificações</a>
                  <span class='entypo-vcard'></span>
                </li>
              </ul>
            </div>
          </aside>