<app-header></app-header>

<div class="container-fluid" style="min-height: 78vh; padding-left: 65px;">
  <div class="row">
    <app-menu></app-menu>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="col-lg-3" style="padding: 0px;">Log de Notificação</h2>
          <label class="col-lg-9" for="periodo" style="padding-left: 0px;">Selecione o período desejado</label>
          <input type="text" ngxDaterangepickerMd (change)="filterByDate($event)"
            [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [(ngModel)]="selected" class="col-lg-2 inpt"
            placeholder="de - até" />
          <button class="col-xs-1 col-sm-1 col-md-1 col-lg-1 btn btn-default btn-sm dropdown-toggle"
            style="background-color:#002C52; color:#fff; border: none;" (click)="cleanDate()">Limpar Data</button>
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default col-lg-12" style="padding-right: 0px; padding-left: 0px">
                <div class="table-responsive">
                  <table class="table table-striped scrolling-wrapper">
                    <thead>
                      <tr>
                        <th> <input type="text" (keyup)="filterByInputIMEI()" maxlength="15" [(ngModel)]="searchIMEI"
                            placeholder="Código IMEI" class="form-control"></th>

                        <th>
                          <!-- <select class="select" (change)="filterBycomboBoxLogNotificacoesTipo()" -->
                          <select class="select" (change)="filterAll()"
                            [(ngModel)]="comboBoxLogNotificacaoTipoModel">
                            <option *ngFor="let cBLogNotificacoesTipo of comboBoxLogNotificacoesTipo"
                              [ngValue]="cBLogNotificacoesTipo">{{cBLogNotificacoesTipo.name}}</option>
                          </select>
                        </th>

                        <th> Nome Cliente </th>

                        <th> Dt/Hr de Envio <span *ngIf="!flagOrderByDtHrLogNotificacoes"
                            (click)="orderByDtHLogNotificacoes()" style="cursor: pointer;" class="caret"></span><span
                            *ngIf="flagOrderByDtHrLogNotificacoes" (click)="orderByDtHLogNotificacoes()"
                            style="transform: rotate(180deg);cursor: pointer;" class="caret"></span><br>
                        </th>
                        
                        <th>
                          <!-- <select class="select" [(ngModel)] = "comboStatusExecucaoModel"(change) = "filterByStatus()"> -->
                          <select class="select" [(ngModel)] = "comboStatusExecucaoModel"(change) = "filterAll()">
                            <option *ngFor= "let status of comboBoxStatusExecucao"
                            [ngValue] = "status">{{status.name}}</option>
                          </select>
                        </th>                        

                        <th> Mensagem </th>

                        <th>
                          <!-- <select class="select" (change)="filterBycomboBoxLogNotificacoesStatus()" -->
                          <select class="select" (change)="filterAll()"
                            [(ngModel)]="comboBoxLogNotificacaoStatusModel">
                            <option *ngFor="let cBLogNotificacoesStatus of comboBoxLogNotificacoesStatus"
                              [ngValue]="cBLogNotificacoesStatus">{{cBLogNotificacoesStatus.name}}</option>
                          </select>
                        </th>

                        <th> Consulta Geral </th>
                      </tr>
                    </thead>
                    <tbody *ngIf="listaLogNotificacoes.length > 0">
                      <tr
                        *ngFor="let logNotificacoes of listaLogNotificacoes | paginate: { itemsPerPage: currentItemsPerPageListaLogNotificacoes, currentPage: currentPageListaLogNotificacoes }">
                        <td>{{ logNotificacoes.codigoImei }}</td>
                        <td>{{ logNotificacoes.tipo }}</td>
                        <td>{{ logNotificacoes.nomeCliente }}</td>
                        <td>{{ logNotificacoes.dtHr }}</td>
                        <td>{{ logNotificacoes.statusExecucao }}</td>
                        <td>{{ logNotificacoes.mensagem }}</td>
                        <td>{{ logNotificacoes.status }}</td>
                        <td><img style="cursor: pointer;" (click)="pesquisarHandler(logNotificacoes)"
                            src="../../assets/Imagens/consulta.png"></td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="listaLogNotificacoes.length === 0">
                      <tr>
                        <td rowspan="6">Não existe nenhum dado pesquisado!</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-sm-2" style="float: right;" *ngIf="listaLogNotificacoes.length > 0">
              <label>ver até:</label>
              <select class="form-control" [(ngModel)]="currentItemsPerPageListaLogNotificacoes">
                <option *ngFor="let pagesmen of dropdownPagesListaLogNotificacoes" [value]="pagesmen.itemsPerPage">
                  {{pagesmen.itemsPerPage}}</option>
              </select>
            </div>
            <div class="col-sm-12" *ngIf="listaLogNotificacoes.length > 0" style="text-align: center;">
              <nav aria-label="Page navigation">
                <div style="margin: 0 auto;">
                  <pagination-controls (pageChange)="currentPageListaLogNotificacoes = $event" previousLabel="Anterior"
                    nextLabel="Proximo"></pagination-controls>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>