<app-header></app-header>
<app-menu></app-menu>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <h2>Registrar Licenças</h2>
      
    </div>
    <div class="row col-md-10" style="margin-left:1px">
      <div class="panel panel-default" style="padding-right: 0px; padding-left: 0px">
        <!-- Default panel contents -->
        <div class="panel-heading" style="background-color: #363636; color: #fff;">Panel heading</div>
  
        <table class="table">
          <thead>
            <tr>
              <th> <input type="checkbox" aria-label="..."> </th>
              <th class="col-lg-2"><input type="text" placeholder="SKU">
               </th>
              <th class="col-lg-2">Nome do Produto
                </th>
              <th class="col-lg-1">
                <input type="text" placeholder="IMEI"></th>
              <th>Produto
                </th>
              <th><input type="text" placeholder="Nº da Nota">
                </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of data | grdFilter: {imei: imeiModel}; let i=index;">
              <td>{{log.sku}}</td>
              <td>{{log.nomeProduto}}</td>
              <td>{{log.varejista}}</td>
              <td>{{log.nota}}</td>
              <td>{{log.registro}}</td>
              <td>{{log.ativacao}}</td>
              <td>{{log.imei}}</td>
              <td>{{log.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div><!-- /.row -->
<div class="row col-md-offset-6">
      <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
  </div>
</div>
<app-footer></app-footer>