<div mat-dialog-title>
  Cadastro de Mensagens
  <label (click)="onNoClick()" style="float: right; cursor: pointer;">X</label>
</div>
<div mat-dialog-content>
    <div class="row">
      <div class="col-md-7 form-group">
        <label for="inputVarejista">Escolha um Varejista: </label>
        <select class="select form-control" [(ngModel)]="resellersModel" id="inputVarejista">
          <option *ngFor="let resseler of listResellers" value="{{resseler.idempresa}}">{{resseler.nome_fantasia}}</option>
        </select>
      </div>
      <div class="col-md-5 form-group">
        <label for="tipoMensagem">Selecione um Tipo: </label>
        <select class="select form-control" [(ngModel)]="mensagemModel" id="tipoMensagem">
          <option *ngFor="let mensagem of listMensagem" value="{{mensagem.value}}">{{mensagem.name}}</option>
        </select>
      </div>
      <div class="col-lg-12 form-group" style="margin: 15px 0 15px 0; padding: 0px;" *ngIf="editable">
        <label for="codigoMensagem">Informe o Código:</label>
        <input class="form-control" id="codigoMensagem" type="text" disabled />
      </div>
      <div class="col-md-7 form-group">
        <label for="textoMensagem">Texto*</label>
        <textarea class="form-control" id="textoMensagem" [(ngModel)]="mensagens.mensagem" style="height: 180px; resize: none;" maxlength="220"></textarea>
      </div>
      <div class="col-md-5">
        <label style="margin-bottom: 10px">Tags Disponiveis</label>
        <br/>
        <label style="width: 48%; margin: 3px 1%; background-color:#002C52; color:#fff; padding: 4px; text-align:center; cursor: pointer;" *ngFor="let tag of listTags" (click)="insertTagText(tag)"> {{tag.descricaoTags}} </label>
      </div>
    </div>
  </div>
<div mat-dialog-actions>
  <div class="row">
    <div class="col-sm-12">
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="btnRadioModel">
        <mat-radio-button class="example-radio-button" *ngFor="let atv of listBtnRadio" [value]="atv.value">
          {{atv.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-sm-12">
      <br/>
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" *ngIf="data.id === 0"
        style="background-color:#002C52; color:#fff;margin-right: 10px; height: 40px;" (click)="adicionarMensagem()"> Criar Mensagem </button>
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" *ngIf="data.id !== 0"
        style="background-color:#002C52; color:#fff;margin-right: 10px; height: 40px;" (click)="atualizarMensagem()"> Atualizar Mensagem </button>
    </div>
  </div>
</div>