<app-header></app-header>
<div class="container-fluid" style="min-height: 78vh; padding-left: 65px;">
  <div class="row">
    <app-menu></app-menu>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-sm-12">
          <h2 style="margin-bottom:30px">Notificações</h2>



          <div class="col-sm-12">
            <div class="panel with-nav-tabs panel-default" style="padding-right: 0px; padding-left: 0px">
              <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                  <li class="active"><a href="#tabMensagens" data-toggle="tab">Mensagens</a></li>
                  <li><a href="#tabHistorico" data-toggle="tab">Histórico de IMEI</a></li>
                  <li><a href="#tabEnviar" data-toggle="tab">Enviar Notificação</a></li>
                  <li><a href="#tabPin" data-toggle="tab">Gerar PIN</a></li>
                </ul>
              </div>
              <div class="panel-body">
                <div class="tab-content">






























                  <div class="tab-pane fade in active" id="tabMensagens">
                    <div class="row col-lg-12">
                      <button class="col-xs-2 col-sm-2 col-md-2 col-lg-1 btn btn-default btn-sm dropdown-toggle"
                        type="button"
                        style="background-color:#002C52; color:#fff; border: none; margin-top: 5px; margin-bottom: 25px; height: 40px;"
                        (click)="handleIncluir()"> Incluir +
                      </button>
                    </div>
                    <br />
                    <div class="panel panel-default col-lg-12" style="padding-right: 0px; padding-left: 0px">
                      <!-- <div class="panel-heading" style="background-color: #363636; color: #fff;">Panel heading</div> -->
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <!-- <th class="col-lg-1"> <input type="text" [(ngModel)]="inputNotificacaoMensagensVarejista" (keyup)="filterByinputNotificacaoMensagensVarejista()" placeholder="Varejista" class="form-control"> </th> -->
                              <th> Id </th>

                              <th>
                                <select class="select" (change)="filterBycomboBoxNotificacaoMensagensTipo()"
                                  [(ngModel)]="comboBoxNotificacaoMensagensTipoModel">
                                  <option *ngFor="let cBNotificacaoMensagensTipo of comboBoxNotificacaoMensagensTipo"
                                    [ngValue]="cBNotificacaoMensagensTipo">{{cBNotificacaoMensagensTipo.name}}</option>
                                </select>
                              </th>

                              <th> Dt/Hr de Registro
                                <span *ngIf="!flagOrderByDtHrRegistro" (click)="orderByRegistro()"
                                  style="cursor: pointer;" class="caret"></span>
                                <span *ngIf="flagOrderByDtHrRegistro" (click)="orderByRegistro()"
                                  style="transform: rotate(180deg);cursor: pointer;" class="caret"></span>
                                <br>
                              </th>

                              <th> Dt/Hr de Atualização
                                <span *ngIf="!flagOrderByDtHrAtualizacao" (click)="orderByAtualizacao()"
                                  style="cursor: pointer;" class="caret"></span>
                                <span *ngIf="flagOrderByDtHrAtualizacao" (click)="orderByAtualizacao()"
                                  style="transform: rotate(180deg);cursor: pointer;" class="caret"></span>
                                <br>
                              </th>

                              <!-- <th class="col-lg-3"> <input type="text" placeholder="Mensagem" class="form-control"> </th> -->
                              <th> Mensagem </th>

                              <th> 
                                <select class="select" [(ngModel)]="statusModel" (change)="filterByStatus()">
                                  <option *ngFor="let status of status" [value]="status.value">{{status.label}}</option>
                                </select>
                              </th>

                              <th> Editar </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="let notificacaoMensagens of listaNotificacaoMensagens | paginate: { itemsPerPage: currentItemsPerPageListaNotificacaoMensagens, currentPage: currentPageListaNotificacaoMensagens }">
                              <td>{{ notificacaoMensagens.id }}</td>
                              <td>{{ notificacaoMensagens.tipo }}</td>
                              <td>{{ notificacaoMensagens.dtHr }}</td>
                              <td>{{ notificacaoMensagens.dtUpd }}</td>
                              <td>{{ notificacaoMensagens.texto }}</td>
                              <td>{{ notificacaoMensagens.status === '1' ? 'Ativo' : 'Inativo' }}</td>
                              <!-- <td>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                  <label class="btn btn-secondary active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Ativo
                                  </label>
                                  <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> Inativo
                                  </label>
                                </div>
                              </td> -->
                              <td (click)="edit(notificacaoMensagens)" style="cursor: pointer;"><img
                                  src="../../assets/Imagens/editar.png"></td>
                            </tr>
                            <tr *ngIf="listaNotificacaoMensagens.length === 0">
                              <td colspan="7" style="width: 100%;" *ngIf="listaNotificacaoMensagens.length === 0">Dados
                                pesquisados não existem.</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>


                    <div class="col-sm-2" style="float: right;" *ngIf="listaNotificacaoMensagens.length > 0">
                      <label>ver até:</label>
                      <select class="form-control" [(ngModel)]="currentItemsPerPageListaNotificacaoMensagens">
                        <option *ngFor="let pagesmen of dropdownPagesListaNotificacaoMensagens"
                          [value]="pagesmen.itemsPerPage">{{pagesmen.itemsPerPage}}</option>
                      </select>
                    </div>
                    <div class="col-sm-12" *ngIf="listaNotificacaoMensagens.length > 0" style="text-align: center;">
                      <nav aria-label="Page navigation">
                        <div style="margin: 0 auto;">
                          <pagination-controls (pageChange)="currentPageListaNotificacaoMensagens = $event"
                            previousLabel="Anterior" nextLabel="Proximo"></pagination-controls>
                        </div>
                      </nav>
                    </div>

                    
                  </div>
































                  <div class="tab-pane fade" id="tabHistorico">
                    <!-- <div class="col-lg-12" style="padding: 20px">
                      Pesquisar por:
                      <div class="radio" *ngFor="let radio of radioBtnPesquisarPor">
                        <label><input checked [(ngModel)]="radioBtnPesquisarPorModel" type="radio" name="optradio3"
                            value="{{radio.id}}" (change)="pesquisarCPF()">{{radio.name}}</label>
                      </div>
                    </div> -->

                      <div class="row">
                        <div class="col-lg-5 form-group">
                          <input [(ngModel)]="input.imei" type="text"
                            placeholder="Digite um CPF ou IMEI/Serial Number para ver o Histórico" class="form-control">
                        </div>
                        <!-- <th class="col-lg-5" *ngIf="flagCPF"><input [(ngModel)]="input.imei" type="text"
                              placeholder="Digite um IMEI ou um Serial Number para ver o Histórico"
                              class="form-control"></th> -->
                        <div class="col-lg-2">
                          <button (click)="pesquisarHandler()" class="btn btn-default dropdown-toggle" type="button"
                            style="background-color:#002C52; color:#fff;">
                            Verificar
                          </button>
                        </div>
                        <div class="col-sm-12" *ngIf="imeiSelecionado">
                          <h4 class="imeiSelecionado">{{imeiSelecionado}}</h4>
                        </div>

                        <div class="col-sm-12"  *ngIf="isEmpty == true">
                            <div class="cpfEmpty" [ngModel]="isEmpty">Nenhum Device Encontrado!</div>
                        </div>
                    <div *ngIf="listaHistoricoImei.length > 0" class="panel-body col-sm-12">
                      <div class="row">
                        <div class="col-sm-4 form-group">
                          <input type="text" ngxDaterangepickerMd (change)="filterByDate($event)"
                            [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}" [(ngModel)]="selected" class="form-control inpt"
                            placeholder="de - até" />
                        </div>
                        <div class="col-sm-1">
                          <button class="btn btn-default dropdown-toggle"
                            style="background-color:#002C52; color:#fff; border: none;" (click)="cleanDate()">Limpar Data</button>
                        </div>
                      </div>
                      <h4>Histórico</h4>
                      <div _ngcontent-c1="" class="panel panel-default col-lg-12" style="padding-right: 0px; padding-left: 0px">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th class="col-lg-1">
                                <input type="text" (keyup)="filterByInputUser()" [(ngModel)] ="user" placeholder="Usuário"> 
                            </th>
                            <th class="col-lg-1">Data
                                <span *ngIf="!flagOrderByDataHistorico" (click)="orderByDtHrList()"
                                style="cursor: pointer;" class="caret"></span>
                              <span *ngIf="flagOrderByDataHistorico" (click)="orderByDtHrList()"
                                style="transform: rotate(180deg);cursor: pointer;" class="caret"></span>
                            </th>
                            <!-- Serial -->
                            <th class="col-lg-1">
                                <input type="text" (keyup)="filterByInputSerial()" [(ngModel)] ="serial" placeholder="Serial">
                            </th>
                            <th class="col-lg-1">
                                <input type="text" (keyup)="filterByInputAcao()" [(ngModel)] ="acao" placeholder="Ação">
                            </th>
                            <th class="col-lg-4">Mensagem</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let imei of listaHistoricoImei  | paginate: { itemsPerPage: currentItemsPerPageHistoricoImei, currentPage: currentPageHistoricoImei }">
                            <td>{{imei.usuario}}</td>
                            <td>{{imei.dthora}}</td>
                            <td>{{imei.serial}}</td>
                            <td>{{imei.acao}}</td>
                            <td>{{imei.mensagem}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                      <div class="col-sm-2" style="float: right;" *ngIf="listaHistoricoImei.length > 0">
                          <label>ver Até:</label>
                          <select class="form-control" [(ngModel)]="currentItemsPerPageHistoricoImei">
                            <option [ngValue]="pagesmen.itemsPerPage" *ngFor="let pagesmen of dropdownPagesHistoricoImei">
                              {{pagesmen.itemsPerPage}}
                            </option>
                          </select>
                        </div>
                        <div class="col-sm-12" *ngIf="listaHistoricoImei.length > 0" style="text-align: center;">
                          <nav aria-label="Page navigation">
                            <div style="margin: 0 auto;">
                              <pagination-controls (pageChange)="currentPageHistoricoImei = $event" previousLabel="Anterior" nextLabel="Proximo"></pagination-controls>
                            </div>
                          </nav>
                        </div>
                    </div>
                  </div>
                  </div>







                  
                  <div class="tab-pane fade" id="tabEnviar">
                    <div class="row">
                      <div class="col-lg-3">
                        <label style="margin-right: 10px">Selecione um Tipo: </label>
                        <select class="select" [(ngModel)]="mensagemModel" (change)="desabilitarMensagem()">
                          <option *ngFor="let mensagem of listMensagem" value="{{mensagem.id}}">{{mensagem.name}}
                          </option>
                        </select>
                      </div>
                      <div class="col-lg-7" *ngIf="flagMensagem">
                        <label style="margin-right: 10px">Selecione uma Mensagem: </label>
                        <select class="select" [(ngModel)]="listaMensagensModelId"  style="max-width: 400px;">
                          <option *ngFor="let listaMessage of listaMensagens" [value]="listaMessage.id">
                            {{listaMessage.mensagem}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4" *ngIf="flagBlink" style="margin-top: 10px;">
                        <label style="margin-right: 10px"> Intervalo (segundos): </label>
                        <input type="text" name="interval" [(ngModel)]="modelInterval" size="10">
                      </div>
                    </div>
                    <div class="row" style="margin-top:25px">
                      <div class="col-lg-3">
                        <div class="row" style="margin-left: 36px">

                          <div class="radio" (change)="mostraValorImei()">
                            <label><input type="radio" name="optradio" value="0" [(ngModel)]="radioIMEICPF"
                                checked="true">IMEI/SN</label>
                          </div>
                          <div class="radio" (change)="mostraValorImei()">
                            <label><input type="radio" name="optradio" value="1" [(ngModel)]="radioIMEICPF">CPF</label>
                          </div>

                        </div>
                        <div class="col-lg-12" style="margin: 20px">
                          <input class="col-lg-12" id="lfname" placeholder="Digite o CPF ou IMEI/SN" name="fname"
                            type="text" maxlength="15" [(ngModel)]="imei" />
                          <div class="col-lg-12"></div>
                          <button class="col-lg-12 btn btn-default btn-sm dropdown-toggle" type="button"
                            style="background-color:#002C53; color:#fff; border: none; margin-top: 5px"
                            (click)="validateIMEICPF()"> Adicionar dispositivo
                          </button> <!-- #A0B0BF Cor do botão -->
                          <!-- <button class="col-lg-12 btn btn-default btn-sm dropdown-toggle" type="button"
                            style="background-color:#002C52; color:#fff; margin-top: 5px;"> Enviar CSV </button>
                          <button class="col-lg-12 btn btn-default btn-sm dropdown-toggle" type="button"
                            style="background-color:#339933; color:#fff; margin-top: 5px"> Baixar Modelo CSV </button> -->
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="panel-heading">Dispositivo</div>
                        <div class="panel panel-default">                          
                          <div class="panel-body" style="margin-bottom:150px; text-align: left;">
                            <label *ngFor="let deviceItem of listaImei"
                              style="margin: 3px; border: 2px solid gray;width: 18%; padding:5px;">
                              <div style="margin: 10px !important;"> {{deviceItem}} <div> </div>                              
                                <label style="float:right; cursor: pointer;" ><img (click)="removeDevice(deviceItem)" src="../../assets/Imagens/lixeira.png" > </label>
                              </div>
                            </label>
                          </div>
                        </div>
                        <button class="col-lg-offset-8 col-lg-4 btn btn-default btn-sm dropdown-toggle" type="button"
                          style="background-color:#002C52; color:#fff" (click)="sendForUrlByTipo() "> Enviar </button>
                      </div>
                    </div>
                  </div>





















                  <div class="tab-pane fade" id="tabPin">
                    <div class="row col-lg-12">
                      <div class="col-lg-4">
                        <label style="margin-right: 10px">Versão Android: </label>
                        <select class="select" [(ngModel)]="androidOption" (change)="checkAndroid()">
                          <option value="android9"> Android 9+ </option>
                          <option value="android8"> Android 8- </option>
                        </select>
                        <div class="col-lg-12">
                          <div class="col-lg-12" style="margin-top: 25px;">
                            <div *ngIf="flagAndroid">
                              <input class="col-lg-12" type="text" placeholder="Chave de Acesso (passKey)"
                                style="margin-top: 5px;" [(ngModel)]="passKey" />
                            </div>
                            <input class="col-lg-12" style="margin-top: 5px;" id="serial" placeholder="Digite o IMEI"
                              name="serial" type="text" maxlength="15" [(ngModel)]="serial" />
                            <div class="col-lg-12"></div>
                            <button class="col-lg-12 btn btn-default btn-sm dropdown-toggle" type="button"
                              (click)="obterPin()"
                              style="background-color:#002C52; color:#fff; margin-top: 10px; margin-bottom: 10px"> Obter
                              PIN </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-7">
                        <div class="panel-heading">PIN</div>
                        <div class="panel panel-default" style="height: 155px;">                          
                          <div class="panel-body" style="margin-bottom:100px">
                            <div>
                              {{telaPin}}
                            </div>
                            <div>
                              {{telaPin2}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>