<div mat-dialog-title>
  Desbloqueio PIN <label (click)="onNoClick()" style="float: right; cursor: pointer;">X</label>
</div>
<div mat-dialog-content>

  <div class="row col-lg-12">
    <div class="col-lg-12">
      <label style="margin-right: 10px">Versão Android: </label>
      <select class="select" [(ngModel)]="androidOption" (change)="checkAndroid()">
        <option value="android9"> Android 9+ </option>
        <option value="android8"> Android 8- </option>
      </select>
      <div class="col-lg-12">
        <div class="col-lg-12" style="margin-top: 25px;">
          <div *ngIf="flagAndroid">
            <input class="col-lg-12" type="text" placeholder="Chave de Acesso (passKey)" style="margin-top: 5px;"
              [(ngModel)]="passKey" />
          </div>
          <input class="col-lg-12" style="margin-top: 5px;" id="serial" placeholder="Digite o IMEI" name="serial"
            type="text" maxlength="15" [(ngModel)]="data.imei" />
          <div class="col-lg-12"></div>
          <button class="col-lg-12 btn btn-default btn-sm dropdown-toggle" type="button" (click)="obterPin()"
            style="background-color:#002C52; color:#fff; margin-top: 10px; margin-bottom: 10px"> Obter
            PIN </button>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="panel panel-default" style="height: 130px;">
        <!-- <div class="panel-heading">PIN</div> -->
        <div class="panel-body" style="margin-bottom:100px">
          <div>
            {{telaPin}}
          </div>
          <div>
            {{telaPin2}}
          </div>
        </div>
      </div>
    </div>

</div>
<div mat-dialog-actions>
</div>