<div mat-dialog-title>
    Adicionar Grupo <label style="float: right; cursor: pointer;" (click)="Cancelar()" >X</label>
  </div>
  <div mat-dialog-content>
    <div class="row col-lg-12">
      <div class="col-lg-4">
        <label>Nome do Grupo: <label style="color: red;">*</label></label>
        <input class="col-lg-12" [(ngModel)]="newGrupo.name" type="text">
      </div>
      <div class="col-lg-6">
        <label>Descrição: <label style="color: red;">*</label></label>
        <input class="col-lg-12" [(ngModel)]="newGrupo.description" type="text">
      </div>
    </div>
  </div>
  
  
  <div mat-dialog-title style="margin-top:40px">
      Usuário + Grupo
    </div>
    <div mat-dialog-content>
      <div class="row col-lg-12">
       <label>Associe um ou mais usuários ao grupo:</label>
        <div class="row" *ngFor = "let user of listUser">          
          <input type="checkbox" aria-label="..." style="margin-left: 15px" [(ngModel)]="user.checked" id="itemCheckbox"> {{user.name}}          
        </div>               
      </div>
    </div>


  
  
  <div mat-dialog-actions>
    <div class="row col-lg-12 col-lg-offset-8" style="margin-top: 15px">
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" (click)="createGrupo()"
        style="background-color:#002C52; color:#fff;margin-right: 10px"> Adicionar Grupo </button>
      <button class="btn btn-default btn-sm dropdown-toggle" type="button" (click)="Cancelar()"
        style="background-color:#002C52; color:#fff;margin-right: 10px"> Cancelar </button>
    </div>
  </div>