<app-header></app-header>
<div class="container-fluid" style="min-height: 78vh; padding-left: 65px;">
  <div class="row">
    <app-menu></app-menu>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
      <h2 style="margin-bottom:30px">Grupos e Usuários</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel with-nav-tabs panel-default overflow" style="padding-right: 0px; padding-left: 0px">
        <div class="panel-heading">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#tabUsuarios" data-toggle="tab">Usuários</a></li>
            <li><a href="#tabPerfis" data-toggle="tab">Perfis</a></li>
            <li><a href="#tabGrupos" data-toggle="tab">Gupos</a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">









            <div class="tab-pane fade in active" id="tabUsuarios">
              <div>
                <button class="col-lg-1 btn btn-default btn-sm dropdown-toggle" type="button"
                  style="background-color:#002C52; color:#fff;margin-right: 10px; height: 40px; margin-bottom: 20px; font-size: 18px;"
                  (click)="incluirUsuario()"> + Usuário </button>
              </div>
              <div class="panel panel-default col-lg-12" style="padding-right: 0px; padding-left: 0px">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="col-lg-5"> <input type="text" [(ngModel)]="userByName" (keyup)="filterUser()"
                         placeholder="Nome Usuário" class="form-control"> </th>
                      <th>Editar</th>
                      <th>Ativo</th>
                      <th>Remover</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor = "let user of listUser">
                      <td>{{user.name}} </td>
                      <td style="cursor:pointer;"><img (click)="openUpdateUser(user)" src="../../assets/Imagens/editar.png"></td>
                      <td> {{user.isActiveLabel}} </td>
                      <td style="cursor:pointer;"><img (click)="deleteUser(user.id)" src="../../assets/Imagens/lixeira.png"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>










            <div class="tab-pane fade" id="tabPerfis">
              <div>
               <button class="col-lg-1 btn btn-default btn-sm dropdown-toggle" type="button"
                  style="background-color:#002C52; color:#fff;margin-right: 10px; height: 40px; margin-bottom: 20px; font-size: 18px;"
                  (click)="incluirPerfil()"> + Perfil </button>
              </div>
              <div class="panel panel-default col-lg-12" style="padding-right: 0px; padding-left: 0px">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="col-lg-5"> 
                        <input type="text" placeholder="Buscar PERFIL" [(ngModel)]="profileName" (keyup)="filterProfile()"class="form-control">
                      </th>
                      <th class="col-lg-1">Editar</th>
                      <th class="col-lg-1">Remover</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor = "let profile of profiles">
                          <td>{{profile.name}} </td>
                          <td style="cursor:pointer;"><img (click)="openDialogUpdateProfile(profile)" src="../../assets/Imagens/editar.png"></td>
                          <td style="cursor:pointer;"><img (click)="deleteProfile(profile.id)" src="../../assets/Imagens/lixeira.png"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>










            <div class="tab-pane fade" id="tabGrupos">
              <div>
                <button class="col-lg-1 btn btn-default btn-sm dropdown-toggle" type="button"
                  style="background-color:#002C52; color:#fff;margin-right: 10px; height: 40px; margin-bottom: 20px; font-size: 18px;"
                  (click)="incluirGrupo()"> + Grupo </button>
              </div>
              <div class="panel panel-default col-lg-12" style="padding-right: 0px; padding-left: 0px">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="col-lg-3"> <input type="text" [(ngModel)]="grupoByName" (change)="findGrupo()" 
                        placeholder="Buscar GRUPO" class="form-control"> </th>
                      <th class="col-lg-1">Editar</th>
                      <!-- <th class="col-lg-1">Usuários</th> -->
                      <th class="col-lg-1">Remover</th>
                    </tr>
                  </thead>
                  <tbody>                    
                    <tr *ngFor = "let grupo of listGrupo">
                      <td>{{grupo.name}} </td>                       
                      <td style="cursor:pointer;"><img (click)="editarGrupo(grupo.id)" src="../../assets/Imagens/editar.png"></td>
                      <!-- <td><img (click)="openDialog(grupo.id)" src="../../assets/Imagens/perfis.png" data-toggle="tooltip"
                        data-placement="right" title="Usuários desse grupo" style="cursor:pointer;"></td> -->
                      <td style="cursor:pointer;"><img (click)="deleteGrupo(grupo.id)" src="../../assets/Imagens/lixeira.png"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>


            

            







          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>