<div mat-dialog-title>
  Historico do IMEI: {{data.imei}} <label (click)="onNoClick()" style="float: right; cursor: pointer;">X</label>
</div>
<div mat-dialog-content>

  <div *ngIf="listaHistoricoImei.length > 0" class="panel-body">
    <h4>Histórico</h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Data
              <span *ngIf="!flagOrderByDtHrRegistro" (click)="orderByRegistro()" style="cursor: pointer;"
                class="caret"></span>
              <span *ngIf="flagOrderByDtHrRegistro" (click)="orderByRegistro()"
                style="transform: rotate(180deg);cursor: pointer;" class="caret"></span>

            </th>
            <th>Serial</th>
            <th>Ação</th>
            <th>Mensagem</th>
            <th>Resposta</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let imei of listaHistoricoImei  | paginate: { itemsPerPage: currentItemsPerPageHistoricoImei, currentPage: currentPageHistoricoImei }">
            <td>{{imei.dthora}}</td>
            <td>{{imei.serial}}</td>
            <td>{{imei.acao}}</td>
            <td>{{imei.mensagem}}</td>
            <td>{{imei.response}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-sm-2" style="float: right;" *ngIf="listaHistoricoImei.length > 0">
        <label>ver Até:</label>
        <select class="form-control" [(ngModel)]="currentItemsPerPageHistoricoImei">
          <option [value]="pagesmen.itemsPerPage" *ngFor="let pagesmen of dropdownPagesHistoricoImei">
            {{pagesmen.itemsPerPage}}
          </option>
        </select>
      </div>
      <div class="col-sm-12" *ngIf="listaHistoricoImei.length > 0" style="text-align: center;">
        <nav aria-label="Page navigation">
          <div style="margin: 0 auto;">
            <pagination-controls (pageChange)="currentPageHistoricoImei = $event" previousLabel="Anterior"
              nextLabel="Proximo"></pagination-controls>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
</div>