/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.table-striped{
    background-color: #EBEBEB;
  }


.btn.active {
    background-color: #CCCCCC;
}

.inpt{
    text-align: center;
    margin-bottom:15px;
}

.select {
    padding: 6px;
    border-radius: 4px;
    border:1.5px solid #CCCCCC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.backgroundPanel .mat-dialog-container{
    background: transparent;
    box-shadow: none;
  }

  .panel-default > .panel-heading {
      background-color: #fff !important;
  }

  .panel-heading {
      padding: 0 !important;
      border-bottom: none !important;
  }

  table thead th{
      white-space: nowrap;
      vertical-align: middle !important;
  }