.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
  }
  .nav-tabs > li > a {
    background: #002c53;
    border-radius: 0;
    color: #bfbfbf;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover {
    background: #fff;
    color: #002c53;
    font-size: 20px;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
  }

  .panel-default > .panel-heading {
    background-color: transparent;
    border-color: transparent;
  }
 
  .panel-heading {
    padding-bottom: 0px;
  }

  .panel-body {
    padding-top: 0px;
  }