<app-header></app-header>
<div class="container-fluid" style="min-height: 78vh; padding-left: 65px;">
  <div class="row">
    <app-menu></app-menu>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-sm-12">
          <h2>Gestão de Licenças</h2>
        </div>





        <div class="col-sm-12 col-md-5 col-lg-3">
          <div class="thumbnail" style="margin:0px; padding:0px; border:0px">
            <img src="../../assets/Imagens/licença.png" alt="..." style="width: 100%">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">{{estoqueLicensa.qtdDisponivel}}</span>
                Quantidade disponível
              </li>
              <li class="list-group-item">
                <span class="badge">{{estoqueLicensa.licRegistradas}}</span>
                Licenças registradas
              </li>
              <li class="list-group-item">
                <span class="badge">{{estoqueLicensa.licAtivadas}}</span>
                Licenças ativadas
              </li>
            </ul>
          </div>
        </div>











        <div class="col-sm-12 col-md-7 col-lg-9">
          <div class="panel with-nav-tabs panel-default" style="padding-right: 0px; padding-left: 0px">
            
            

            <div class="panel-heading">
              <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#tabHistorico" data-toggle="tab">Histórico de Transações</a></li>
                <li><a href="#tabTransacao" data-toggle="tab">Transações por Varejista</a></li>
                <!-- <li><a href="#tabStatus" data-toggle="tab">Status de Compra de Licenças</a></li> -->
              </ul>
            </div>



            <div class="panel-body">
              <div class="tab-content">
                <div class="tab-pane fade in active" id="tabHistorico">
                  <div class="panel panel-default col-lg-12" style="padding-right: 0px; padding-left: 0px">
                    <!-- <div class="panel-heading" style="background-color: #363636; color: #fff;">Panel heading</div> -->
                    <div class="table-responsive">
                      <table class="table table-striped" *ngIf="listaHistoricoTransacao.length > 0">
                        <thead>
                          <tr>
                            <th>DATA E HORA</th>
                            <th>USUÁRIO</th>
                            <th>AÇÃO</th>
                            <!-- <th>QUANTIDADE</th> -->
                            <th>MENSAGEM</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="let historico of listaHistoricoTransacao | paginate: {  id: 'historico', itemsPerPage: currentItemsPerPageListaHistoricoTransacao, currentPage: currentPageListaHistoricoTransacao }">
                            <td>{{ historico.dthora }}</td>
                            <td>{{ historico.usuario }}</td>
                            <td>{{ historico.acao }}</td>
                            <!-- <td>{{ historico.quantidade }}</td> -->
                            <td>{{ historico.mensagem }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- <div style="font-size: 18px; margin-bottom: 25px;"><strong>Total de Quantidade:
                      {{ TotalQuantidade }}</strong></div> -->
                  <div class="col-sm-3" style="float: right;" *ngIf="listaHistoricoTransacao.length > 0">
                    <label>ver até:</label>
                    <select class="form-control" [(ngModel)]="currentItemsPerPageListaHistoricoTransacao">
                      <option *ngFor="let pagesmen of dropdownPagesListaHistoricoTransacao"
                        [value]="pagesmen.itemsPerPage">{{pagesmen.itemsPerPage}}</option>
                    </select>
                  </div>
                  <div class="col-sm-12" *ngIf="listaHistoricoTransacao.length > 0" style="text-align: center;">
                    <nav aria-label="Page navigation">
                      <div style="margin: 0 auto;">
                        <pagination-controls id="historico" (pageChange)="currentPageListaHistoricoTransacao = $event"
                          previousLabel="Anterior" nextLabel="Proximo"></pagination-controls>
                      </div>
                    </nav>
                  </div>
                </div>












                <div class="tab-pane fade" id="tabTransacao">
                  <div class="panel panel-default col-lg-12" style="padding-right: 0px; padding-left: 0px">
                    <!-- <div class="panel-heading" style="background-color: #363636; color: #fff;">Panel heading</div> -->
                    <div class="table-responsive">
                    <table class="table table-striped scrolling-wrapper" *ngIf="listaTransacaovarejista.length > 0">
                      <thead>
                        <tr>
                          <th>
                            <select class="select" [(ngModel)]="tVarejista" (change)="filterTable()">
                              <option value="varejistas" class="selected">Exibir todos os varejista</option>
                              <option *ngFor="let varejista of listaTransacaovarejista" [value]="varejista.varejista">
                                {{ varejista.varejista }}</option>
                            </select>
                          </th>

                          <th>LICENÇAS REGISTRADAS</th>
                          <th>LICENÇAS ATIVADAS</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let varejista of listTable | paginate: { id: 'varejista',itemsPerPage: currentItemsPerPageListaTransacaovarejista, currentPage: currentPageListaTransacaovarejista }">
                          <td>{{ varejista.varejista }}</td>
                          <td>{{ varejista.licencasRegistradas }}</td>
                          <td>{{ varejista.licencasAtivadas }}</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>
                  </div>
                  <div style="font-size: 18px"><strong>Total de Licenças Registradas:
                      {{ TotalLicensasRegistradas }}</strong></div>
                  <div style="font-size: 18px; margin-bottom: 25px;"><strong>Total de Licenças Ativas: {{ TotalLicensasAtivas }}</strong>
                  </div>


                  <div class="col-sm-2" style="float: right;" *ngIf="listaTransacaovarejista.length > 0">
                    <label>ver até:</label>
                    <select class="form-control" [(ngModel)]="currentItemsPerPageListaTransacaovarejista">
                      <option *ngFor="let pagesmen of dropdownPagesListaTransacaovarejista"
                        [value]="pagesmen.itemsPerPage">{{pagesmen.itemsPerPage}}</option>
                    </select>
                  </div>
                  <div class="col-sm-12" *ngIf="listaTransacaovarejista.length > 0" style="text-align: center;">
                    <nav aria-label="Page navigation">
                      <div style="margin: 0 auto;">
                        <pagination-controls id="varejista" (pageChange)="currentPageListaTransacaovarejista = $event"
                          previousLabel="Anterior" nextLabel="Proximo"></pagination-controls>
                      </div>
                    </nav>
                  </div>

                  
                </div>









                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>