<div mat-dialog-title>
    Edição de Emails <label (click)="onNoClick()" style="float: right; cursor: pointer;">X</label>
</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-4">
      <label>Nome<label style="color: red;">*</label> : </label>
      <input type="text" [(ngModel)]="cadastro.nome">
    </div>
    <div class="col-md-4">
      <label>Email<label style="color: red;">*</label> : </label>
      <input type="text" [(ngModel)]="cadastro.email">
    </div>        
  </div>  
  <div class="row">
    <div class="col-md-12">
      <label>Empresa<label style="color: red;">*</label> : </label>
      <select class="select" class="form-control" [(ngModel)]="varejistaEscolhido">
      <option *ngFor="let item of varejistaOption"  value={{item.ID}}>{{item.Nome}}</option>        
      </select>
    </div>
  </div>
  <div class="row col-lg-12" style="margin-top: 15px">
    <button class="btn btn-default btn-sm dropdown-toggle" (click)="editarEmail()" type="button" style="background-color:#002C52; color:#fff;margin-right: 10px"> Atualizar Email </button>
  </div>
</div>
<div mat-dialog-actions>
</div>