<app-header></app-header>

<div class="container-fluid" style="min-height: 78vh; padding-left: 65px;">
  <div class="row">
    <app-menu></app-menu>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-sm-12">
          <h2 style="margin-bottom: 40px;"> Registro Manual </h2>
        </div>

        <div class="col-lg-12" style="margin-bottom: 20px; margin-right: 15px;">
          <button (click)="incluirRegistroManualModal()" class="col-lg-1 btn btn-default btn-sm dropdown-toggle"
            type="button" style="background-color:#002C52; color:#fff"> Incluir </button>

          <label for="input-1" class="col-lg-1 btn btn-default btn-sm dropdown-toggle"> Importar Arquivo </label>
          <input hidden multiple type="file" name="file" style="visibility: hidden;"
            [(ngModel)]="modelInputFile" (change)="importarRegistroManualModal($event)" id="input-1"/>
        </div>


        <div class="col-sm-12">
          <div class="panel panel-default" style="padding-right: 0px; padding-left: 0px">
            <!-- Default panel contents -->
            <!-- <div class="panel-heading" style="background-color: #363636; color: #fff;">Panel heading</div> -->
            <div class="table-responsive">
              <table class="table table-striped scrolling-wrapper">
                <thead>
                  <tr>
                    <!-- <th class="col-lg-1"> <input type="text" placeholder="Código IMEI" class="form-control"></th> -->

                    <th class="col-lg-1"> CNPJ </th>

                    <th class="col-lg-1"> Nome Loja </th>

                    <th class="col-lg-1"> Varejista </th>

                    <th class="col-lg-1"> Nota Linha Nota </th>

                    <th class="col-lg-2"> CPF Cliente - DT Emissão </th>

                    <th class="col-lg-1"> Tipo Dispositivo </th>

                    <th class="col-lg-1"> IMEI </th>

                    <th class="col-lg-1"> Ações </th>

                  </tr>
                </thead>

                <tbody *ngIf="listaRegistroManual.length > 0">
                  <tr
                    *ngFor="let registroManual of listaRegistroManual | paginate: { itemsPerPage: currentItemsPerPageListaRegistroManual, currentPage: currentPageListaRegistroManual }">
                    <td>{{ registroManual.cnpj }}</td>
                    <td>{{ registroManual.razaoSocial }}</td>
                    <td>{{ registroManual.idempresa }}</td>
                    <td>{{ registroManual.nota }} {{ registroManual.linhaNota }}</td>
                    <td>{{ registroManual.cpfCliente }} - {{ registroManual.dataEmissao | date:'dd/MM/yyyy' : '+180' }} </td>
                    <td>{{ registroManual.tipoDispositivo }}</td>
                    <td>{{ registroManual.imeiSn }}</td>
                    <td>
                      <!-- <img style="cursor: pointer; margin-right: 15px" (click)="pesquisarHandler(registroManual)" src="../../assets/Imagens/consulta.png"> -->
                      <img style="cursor: pointer;" (click)="editarRegistroManual(registroManual)" src="../../assets/Imagens/editar.png">
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="listaRegistroManual.length === 0">
                  <tr>
                    <td rowspan="6">Não existe nenhum dado!</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


        <div class="col-sm-1" style="float: right;">
          <label>ver até:</label>
          <select class="form-control" [(ngModel)]="currentItemsPerPageListaRegistroManual">
            <option *ngFor="let pagesmen of dropdownPagesListaRegistroManual" [value]="pagesmen.itemsPerPage">
              {{pagesmen.itemsPerPage}}</option>
          </select>
        </div>
        <div class="col-sm-12" style="text-align: center;">
          <nav aria-label="Page navigation">
            <div style="margin: 0 auto;">
              <pagination-controls (pageChange)="currentPageListaRegistroManual = $event" previousLabel="Anterior"
                nextLabel="Proximo"></pagination-controls>
            </div>
          </nav>
        </div>




      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>